
<div id="up-time-wrapper">
    <div class="side-editor-background"></div>
    <div class="settings-box side-editor">
        <div class="header">
            <span class="title" id="up-time-title"></span>
            <div class="buttons">
                <button class="btn" onclick="closeUpTime()">Close</button>
            </div>
        </div>
        <div class="content" id="up-time-chart-container">
        </div>
    </div>
</div>