<%- include('../head.ejs') %>

<link rel="stylesheet" href="/css/settings.min.css?version=<%= version %>" />

<div class="top-row">
    <span class="title">
        <span class="icon-fenrus coloured"></span>
        About
    </span>
    <% if(user?.IsAdmin) { %>
        <span class="buttons" x-data="AboutConfig">
            <button class="btn" @click="updateApps">Update Apps</button>
            <button class="btn" onclick="document.getElementById('file-chooser').click()">Import Config</button>
            <button class="btn" @click="exportConfig">Export Config</button>
            <input style="display:none" id="file-chooser" class="file-chooser" type="file" accept="application/json" @change="importConfig">
        </span>
    <% } %>
</div>

<div class="settings-box">
    <div class="setting">
        <span class="label">Author</span>
        <span class="value padtop">John Andrews</span>
    </div>
    <div class="setting">
        <span class="label">Version</span>
        <span class="value padtop"><%= version %></span>
    </div>
    <div class="setting">
        <span class="label">Website</span>
        <span class="value padtop"><a target="_blank" rel="noreferrer" href="http://fenrus.io">http://fenrus.io</a></span>
    </div>
    <div class="setting">
        <span class="label">3rd Party</span>
        <span class="value">
            <ul class="value-list">
                <li><a target="_blank" rel="noreferrer" href="https://alpinejs.dev/">AlpineJS</a></li>
                <li><a target="_blank" rel="noreferrer" href="https://github.com/mattkingshott/iodine">Iodine</a></li>
                <li><a target="_blank" rel="noreferrer" href="https://github.com/apocas/dockerode">Dockerode</a></li>
                <li><a target="_blank" rel="noreferrer" href="https://apexcharts.com">Apex Charts</a></li>
                <li><a target="_blank" rel="noreferrer" href="https://jscolor.com/">jscolor.js</a></li>
                <li><a target="_blank" rel="noreferrer" href="https://github.com/jakesgordon/bin-packing/">Biin-Packing</a></li>
                <li><a target="_blank" rel="noreferrer" href="https://heimdall.site/">Heimdall Application Dashboard</a></li>
            </ul>
        </span>
    </div>
</div>

<% if(user?.IsAdmin) { %>
<script>

    document.addEventListener('alpine:init', () => {
        Alpine.data('AboutConfig', () => ({
            importConfig(event){
                let files = event.target.files;
                if (files.length === 0) {
                    console.log('No file is selected');
                    return;
                }
                showBlocker('Importing Configuration');

                let reader = new FileReader();
                reader.onload = function(event) {
                    let json = event.target.result;
                    fetch('/settings/backup/import-config', {
                        method: 'POST',     
                        headers: {
                            'content-type': 'application/json'
                        },                    
                        body: json
                    }).then(() => {
                        hideBlocker();
                        toast('Backup imported', true);
                    });
                };
                reader.readAsText(files[0]);
            },
            exportConfig(){
                showBlocker('Exporting Configuration');
                const link = document.createElement('a');
                link.href = '/settings/backup/export-config?ts=' + new Date().getTime();
                link.download = 'Fenrus-' + new Date().toLocaleDateString() + '.json';
                document.body.appendChild(link)
                link.click()
                document.body.removeChild(link)
                setTimeout(() => {                    
                    hideBlocker();
                }, 3000);
            },
            updateApps(){
                showBlocker('Updating Apps');
                fetch('/system/update-apps', { method: 'POST' })
                .then((res) => res.text())
                .then((text) => {          
                    toast(text || 'Updated applications', true);
                    hideBlocker();
                }).catch(err => {
                    toast(err || 'Failed to update user', false);
                });
            }
        }))
    });
</script>
<% } %>
<%- include('../foot.ejs') %>