.fillspace[b-xurzw83ppm] {
  flex-grow: 1;
}

.fenrus-table-toolbar[b-xurzw83ppm] {
  display: flex;
  flex-direction: row;
}
.fenrus-table-toolbar .fenrus-table-toolbar-buttons[b-xurzw83ppm] {
  flex-grow: 1;
  overflow: hidden;
  margin: auto 0 0.5rem;
}
.fenrus-table-toolbar[b-xurzw83ppm]  .fenrus-table-button-separator {
  border-left: 1px solid var(--border-color);
  height: 1rem;
  display: inline-block;
  position: relative;
  top: 4px;
  width: 1px;
  margin: 0 0.25rem;
}
.fenrus-table-toolbar[b-xurzw83ppm]  .fenrus-table-button {
  cursor: pointer;
}
.fenrus-table-toolbar .fenrus-table-toolbar-filter[b-xurzw83ppm] {
  width: 16rem;
  position: relative;
}
.fenrus-table-toolbar .fenrus-table-toolbar-filter input[b-xurzw83ppm] {
  background-color: transparent !important;
  width: calc(100% - 3rem);
  line-height: 1rem;
  padding-right: 1.75rem;
  border: 1px solid var(--input-background) !important;
  height: 1rem;
  margin: 0.25rem;
}
.fenrus-table-toolbar .fenrus-table-toolbar-filter input:focus[b-xurzw83ppm] {
  border-color: var(--accent);
}
.fenrus-table-toolbar .fenrus-table-toolbar-filter i[b-xurzw83ppm] {
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  font-size: 0.8rem;
  color: rgba(var(--color-rgb), 0.5);
}
.fenrus-table-toolbar[b-xurzw83ppm]  button {
  text-transform: uppercase;
  background: transparent;
  color: rgba(var(--color-rgb), 0.8);
  border: unset;
  border-radius: 0 !important;
  font-size: 0.8rem;
  outline: none;
}
.fenrus-table-toolbar[b-xurzw83ppm]  button:hover {
  color: var(--color-rgb);
}
.fenrus-table-toolbar[b-xurzw83ppm]  button .icon {
  margin-right: 0.25rem;
}

@media screen and (max-width: 578px) {
  .fenrus-table-data[b-xurzw83ppm] {
    font-size: 0.85rem;
  }
}
.fenrus-table[b-xurzw83ppm] {
  position: relative !important;
  max-width: 100%;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: auto;
}

.fenrus-table-inner[b-xurzw83ppm] {
  height: 100%;
  position: relative !important;
  display: flex;
  flex-direction: column;
}

@supports (-moz-appearance: none) {
  [b-xurzw83ppm] .fenrus-table-row {
    /** scrollbar on firefox */
    padding-right: 0.75rem;
  }
}
.fenrus-table-row[b-xurzw83ppm] {
  border: solid 1px var(--input-background);
  display: flex;
  flex-direction: row;
  user-select: none;
  width: 100%;
}
.fenrus-table-row:not(.fenrus-table-header-row)[b-xurzw83ppm] {
  border-top: none;
  border-right: none;
  border-left: none;
}
.fenrus-table-row > span[b-xurzw83ppm] {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 2.2rem;
  line-height: 2.2rem;
}
.fenrus-table-row > span:not(.fenrus-table-select)[b-xurzw83ppm] {
  padding-left: 0.5rem;
}
.fenrus-table-row > span.pre-text[b-xurzw83ppm] {
  white-space: pre-line;
  height: unset;
  line-height: unset;
  margin: 0.3rem 0;
}
.fenrus-table-row.selected[b-xurzw83ppm] {
  background: rgba(var(--accent-rgb), 0.3);
}

.fenrus-table-header-row[b-xurzw83ppm] {
  padding-right: 0.7rem;
  font-weight: 600;
  background: rgba(var(--input-background-rgb), 0.3);
}

[b-xurzw83ppm] .fenrus-table-body {
  height: calc(100% - 2.4rem);
  overflow-y: scroll;
  border-left: solid 1px var(--input-background);
  border-bottom: solid 1px var(--input-background);
  border-right: solid 1px var(--input-background);
}
[b-xurzw83ppm] .fenrus-table-body::-webkit-scrollbar-track {
  border-right: solid 1px var(--input-background);
  border-left: solid 1px var(--input-background);
}

.fenrus-table-data[b-xurzw83ppm] {
  overflow: hidden;
  top: 1.75rem;
  flex-grow: 1;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--input-background);
}

.hidden[b-xurzw83ppm] {
  display: none;
  width: unset !important;
}

@media screen and (max-width: 578px) {
  .fenrus-table-toolbar[b-xurzw83ppm] {
    display: unset;
  }
  .fenrus-table-data[b-xurzw83ppm] {
    top: 3.5rem;
  }
}
[b-xurzw83ppm] .resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  border-right: 2px solid rgba(var(--color-rgb), 0.05);
}
[b-xurzw83ppm] .resizer:hover,
[b-xurzw83ppm] .resizing {
  border-right: 2px solid var(--accent);
}
[b-xurzw83ppm] .pager {
  text-align: right;
  border: solid 1px var(--border-color);
  border-top: none;
}
[b-xurzw83ppm] .pager .page-size {
  float: right;
  margin: 0.3rem 0.25rem 0.25rem;
  width: 4rem;
  text-align: center;
}
[b-xurzw83ppm] .pager .page-size select {
  background-color: transparent;
  color: var(--color) !important;
  border-color: transparent;
  height: 1.75rem;
}
[b-xurzw83ppm] .pager .page-size select:focus {
  outline: 1px solid var(--accent);
}
[b-xurzw83ppm] .pager .page-size select.select-one {
  color: rgba(var(--color-rgb), 0.3) !important;
}
[b-xurzw83ppm] .pager .page-size select option {
  background-color: var(--input-background) !important;
}
[b-xurzw83ppm] .pager .page-size select option:not(.select-one) {
  color: var(--color) !important;
}
[b-xurzw83ppm] .pager .page-size select option:checked {
  background-color: rgba(var(--accent-rgb), 0.3);
}
[b-xurzw83ppm] .pager ul {
  margin: 0.5rem;
  list-style: none;
  padding: 0;
}
[b-xurzw83ppm] .pager ul li {
  display: inline-block;
  width: 2rem;
  border: solid 1px var(--accent);
  text-align: center;
  margin: 0 0.25rem;
  cursor: pointer;
  color: white;
  filter: opacity(0.4);
}
[b-xurzw83ppm] .pager ul li:hover {
  background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
  box-shadow: inset 0 -3px 0 0 var(--accent) !important;
}
[b-xurzw83ppm] .pager ul li.current-page {
  filter: unset;
}
@media (max-width: 576px) {
  [b-xurzw83ppm] .pager .page-size {
    width: 3.5rem;
  }
}

.fenrus-table-row[b-xurzw83ppm]  .fenrus-switch {
  top: 0.3rem;
}

.fenrus-table-row[b-xurzw83ppm]  .actions {
  font-size: 1.1rem;
  text-align: right;
}
.fenrus-table-row[b-xurzw83ppm]  .actions a, .fenrus-table-row[b-xurzw83ppm]  .actions span {
  margin-right: 0.75rem;
  cursor: pointer;
}

/*# sourceMappingURL=FenrusTable.razor.css.map */
