Dockerfile
Dockerfile*
**/[b|B]in/
**/[O|o]bj/
build-docker.ps1
build-docker.sh
.github
.hd
apps.zip
.gitignore
**/*.md
docker.sh
publish.sh
**/temp
**/Temp
**/Data
**/data
**/Logs
**/logs
**/publish
Apps/apps.json