<% if(model?.Items?.length) { %>    
<div class="db-group <%= model.HideLabels ? 'hide-labels' : '' %>">
    <% if(!model.HideGroupTitle) { %>
        <div class="title"><span><%= model.Name %></span></div>
    <% } %>
    
    <div class="items">
        <% for(let item of (model?.Items || {})) {
            if (item) { 
                let type = item._Type.substring(9).toLowerCase();
                let partialFile = `${type}.ejs`;
                let itemModel = { model: item, settings: settings, Utils: Utils};
                if(item.Enabled === false)
                    continue;
            %>
                <%- include(partialFile, itemModel ) %>
            <% }
        } %>
    </div>
</div>
<% } %>
