@using System.Text.RegularExpressions
@{
    bool home = Context.Request.Path == "/" || Context.Request.Path.StartsWithSegments("/dashboard");
    string bodyClass = home ? "home " : "not-home ";
    if (ViewBag.CustomBackground != null)
        bodyClass += "custom-background ";
    else
        bodyClass += "no-custom-background ";
    string theme = ViewBag.Theme?.ToString()?.EmptyAsNull() ?? "Default"; 
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="/favicon?color=@Uri.EscapeDataString(ViewBag.Accent ?? string.Empty)&version=@Globals.Version">
    <link rel="stylesheet" href="/css/_fenrus.css?version=@Globals.Version" />
    <link id="theme-style" rel="stylesheet" href="/themes/@theme/theme.css?version=@Globals.Version" />
    
    @if (string.IsNullOrEmpty(ViewBag.Background) == false)
    {
        string bkg = ViewBag.Background;
        if (bkg.StartsWith("db:/image/"))
        {
            bkg = "/fimage/" + bkg[10..];
        }
        <style>
            body {
                background-image: url(@bkg);
            }
        </style>
    }
    
    @{
        var accentColor = ViewBag.AccentColor ?? "#FF0090";
        if (Regex.IsMatch(accentColor, "^#[a-fA-F0-9]{6}"))
        {
            var r = accentColor.Substring(1, 2);
            var g = accentColor.Substring(3, 2);
            var b = accentColor.Substring(5, 2);
            var accentRgb = int.Parse(r, System.Globalization.NumberStyles.HexNumber) + "," +
                            int.Parse(g, System.Globalization.NumberStyles.HexNumber) + "," +
                            int.Parse(b, System.Globalization.NumberStyles.HexNumber);
            <style>
                  body {
                      --accent-rgb:@accentRgb;
                      --accent:@accentColor;
                  }
            </style>
        }
    }
</head>

<body class="@bodyClass">
    <ul class="main-menu">
        <li><a title="Home" href="/"><span class="fa-solid fa-house"></span></a></li>
        <li><a title="Settings" href="/settings"><span class="fa-solid fa-sliders"></span></a></li>
        <li><a title="About" href="/settings/about"><span class="icon-fenrus"></span></a></li>
    </ul>

    <div class="main-content">
        @RenderBody()
    </div>

    <script src="/js/_fenrus.js?version=@Globals.Version" defer></script>

</body>
</html>