.logo {
  margin: 1.5rem 1rem 1rem 2rem;
  display: flex;
  place-items: center;
  img {
    width: 2.5rem;
    margin-right: .5rem;
  }
  span {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--accent);
    font-style: italic;
  }
}
ul {
  list-style: none;
  padding:0;
  flex-grow: 1;
}

li.group {
  margin-top: 2rem;
  text-transform: uppercase;
  padding-left: .75rem;
  margin-bottom: .5rem;
  &:first-child {
    margin-top:0;
  }
}
li {
  border-left: solid .5rem rgba(0,0,0,0);
  &.active {
    background-color: rgba(var(--accent-rgb), 0.3);
    border-color: var(--accent);
  }
  &:not(.group):hover {
    background: rgba(var(--accent-rgb), 0.2);
  }
  a {
    color: var(--color);
    text-decoration: none;
    padding: 1rem;
    height: 1.25rem;
    display: flex;
    place-items: center;
    padding-left: 2rem;
  }
}
.icon {
  font-size: 1.5rem;
  width: 2rem;
  text-align: center;
  display: block;
  margin-right: .5rem;
}


.version-info {
  padding-top:1rem;
  height: 3rem;
  text-align: center;
  color: rgba(var(--color-rgb),.4);
  font-size: 1.15rem;
}