<div :class="{'modal-wrapper': true, 'visible': copyItem}">
    <div :class="{'modal-box': true, 'visible': copyItem}">
        <div class="modal-title">
            Copy Item
        </div>
        <div class="modal-body">
            <span>Select a group to copy this item to</span>
            <select x-model="modalGroup">
                <option selected>Pick one</option>
                <% if(systemGroups.length) { %>
                    <optgroup label="System"></optgroup>
                    <% for(let grp of systemGroups) { %>
                        <option value="<%= grp.Uid %>"><%= grp.Name %></option>
                    <% } %>
                <% } %>
                <% if(systemGroups.length && groups.length) { %>
                    <optgroup label="User"></optgroup>
                <% } %>
                <% for(let grp of groups) { %>
                    <option value="<%= grp.Uid %>"><%= grp.Name %></option>
                <% } %>
            </select>
        </div>
        <div class="modal-buttons">
            <button class="btn" @click="modalCopy">Copy</button>
            <button class="btn" @click="modalCancel">Cancel</button>
        </div>
    </div>
</div>