<%- include('./partials/head.ejs' ) %>

<link rel="stylesheet" href="/css/settings.min.css?version=<%= version %>" />

<div class="settings-box">
    <div class="header">
        <span class="title">About</span>
    </div>
    <div class="setting">
        <span class="label">Author</span>
        <span class="value padtop">John Andrews</span>
    </div>
    <div class="setting">
        <span class="label">Version</span>
        <span class="value padtop"><%= version %></span>
    </div>
    <div class="setting">
        <span class="label">Website</span>
        <span class="value padtop"><a href="http://fenrus.io">http://fenrus.io</a></span>
    </div>
    <div class="setting">
        <span class="label">3rd Party</span>
        <span class="value">
            <ul class="value-list">
                <li><a href="https://alpinejs.dev/">AlpineJS</a></li>
                <li><a href="https://github.com/mattkingshott/iodine">Iodine</a></li>
                <li><a href="https://github.com/jakesgordon/bin-packing/">Biin-Packing</a></li>
                <li><a href="https://heimdall.site/">Heimdall Applicaiton Dashboard</a></li>
            </ul>
        </span>
    </div>
</div>

<%- include('./partials/footer.ejs') %>