<%- include('./partials/head.ejs' ) %>

<div class="dashboard">
    <% if(settings.Groups?.length) {
        
        for(let item of settings.Groups)
        {
            if (item){ 
                let type = item._Type.substring(9).toLowerCase();
                let partialFile = `./partials/dashboard/${type}.ejs`;
                let itemModel = { model: item, settings: settings, Utils: Utils};
                %>
                <%- include(partialFile, itemModel ) %>
                <%
            }
        }

    } else { %>
        <div class="no-dashboard">
            No items configured
        </div>
    <% } %>
</div>


<%- include('./partials/footer.ejs') %>