@namespace Fenrus.Components.Dialogs

<Modal Title="@Title" Visible="Visible">

    <Body>
    <div class="message">@Message</div>
    </Body>
    <Footer>
        <button class="btn" @onclick=@Close>@lblOk</button>
    </Footer>
</Modal>