.keep-open {
  margin: 0.5rem 0.5rem 0 0;
  ::deep .fenrus-switch {
    position:relative;
    top:-2px;
  }
}
.test-button {
  margin-left:15rem;
}
.app-info {
  tr td:first-child {
    min-width: 12rem;
    max-width: 12rem;
    width: 12rem;

  }
  tr td:nth-child(2)
  {
    white-space: pre-wrap;
  }
  td {
    vertical-align: top;
    line-height: unset;
  }
}