.initial-config {
    background:rgba(0,0,0, 0.8);    
    width: min(70vw, 700px);
    .header {
        display:flex;
        flex-direction: row;        
        margin-bottom: 1rem;
        .title {
            flex-grow:1;
            font-size: 1.5rem;
            margin-left: calc(1rem - 1px);
        }
    }
}
