@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg?version=@Globals.Version">
    <link rel="alternate icon" type="image/x-icon" href="/fenrus.ico">
    <title>Fenrus - Initial Configuration</title>
    <link rel="stylesheet" href="/css/_fenrus.css?version=@Globals.Version" />
    <link id="theme-style" rel="stylesheet" href="/themes/Default/theme.css?version=@Globals.Version" />
    <meta http-equiv="refresh" content="5; url=/">
</head>

<body class="no-custom-background animate-background initial-config-page">
    <div class="main-content">

        <div class="initial-config settings-box" style="text-align: center;padding: 2rem;">
            Restarting the application, please wait
        </div>
        
    </div>

</body>
</html>
