.description {
  display:block;
  margin-bottom:1rem;
}

select {
  padding: 0.5rem;
  background: var(--input-background);
  border: solid 1px var(--input-border);
  color: var(--input-color);
  width:100%;
}