.gog .app-icon {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}
.gog .app-icon img {
  width: 3rem;
  height: 3rem;
}
.gog .cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gog .name, .gog .price, .gog .discount {
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  position: absolute;
  color: var(--color);
}
.gog .name {
  top: 0;
  right: 0;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gog .price {
  bottom: 0;
  right: 0;
}
.gog .discount {
  bottom: 0;
  left: 0;
  color: #00eb00;
}
.gog .discount .down-icon {
  transform: rotate(-90deg);
  display: inline-block;
}