@namespace Fenrus.Components

<div class="fenrus-select">
    <span class="fenrus-select-value" onclick="fenrusSelectValueClick(event)">@InitialString</span>
    <i class="fa-solid fa-caret-down"></i>
    <ul>
        @for (int i = 0; i < Options.Length; i++)
        {
            var value = Options[i];
            var label = (Labels != null && Labels.Length > i) ? Labels[i] : value;
            var onclick = $"fenrusSelectOptionClick(event); event = '{value}'; {Code}";
            <li data-value="@value" onclick="@onclick">@label</li>
        }    
    </ul>
</div>