@namespace Fenrus.Components

<label class="fenrus-switch" onclick="@Code">
    <input class="switch-checkbox" type="checkbox" checked=@(Value ? "checked" : null)>
    <span class="slider round"></span>
</label>