#fdrive-files-address {
  direction: rtl;
  overflow: hidden;
  background: #1c1c1c;
  padding: 2px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  flex-grow:1;
  border-radius: 7px;

  .address-bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    white-space: nowrap;
  }
  
  button {
    font-size: 0.9rem;
    background:transparent;
    border:none;
    color:rgba(var(--color-rgb), 0.7);
    height: calc(100% - 0.6rem);
    margin: 0.25rem;
    padding: 0 0.75rem;
    border-radius: 0.35rem;
    i {
      margin-right:0.25rem;
    }
    &:hover {
      background:rgba(var(--accent-rgb), 0.3);
      color:var(--color);
    }
    &:first-child {
      font-weight: bold;
      color:var(--color);
    }
  }

  .address-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
  
  &.searching {
    display:flex;
    flex-direction: row;
    i{
      width:2rem;
      opacity: 0.3;
      padding-top: 0.65rem;
    }
    i.fa-xmark {
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .file-search {
      flex-grow:1;
      height: 100%;
      text-align: left;
      background: transparent;
      color: var(--color);
      border: none;
      outline: none;
      direction: ltr;
      font-size:0.9rem;
    }
    
  }
}
#fdrive-files .btn-file-search {
  position:absolute;
  background: var(--base);
  right: 5.9rem;
  top: 7px;
  padding: 0.5rem;

  border: solid 1px var(--border-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  background: none;
  cursor: pointer;
  color: rgba(var(--color-rgb), 0.7);
  display: flex;
  align-items: center;
  height: 2rem;
  i {
    opacity: 0.5;
  }
  
  &:hover {
    color:var(--color);
  }
}