body {
  --fc-button-bg-color: var(--base);
  --fc-button-border-color: rgba(var(--accent-rgb), 0.7);
  --fc-button-text-color: var(--color);
  --fc-button-hover-bg-color: var(--base);
  --fc-button-hover-border-color: var(--accent);
  --fc-button-active-bg-color: var(--base);
  --fc-button-active-border-color: var(--accent);
  --fc-non-business-color: rgba(var(--color-rgb), 0.05);
  --fc-border-color: var(--border-color);
  --fc-event-bg-color: rgba(var(--accent-rgb), 0.3);
  --fc-event-border-color: var(--accent);
  --fc-today-bg-color: rgba(var(--accent-rgb), 0.1);
  --fc-small-font-size: 1rem;
  --fc-neutral-bg-color: var(--base);
  --fc-list-event-hover-bg-color:rgba(var(--accent-rgb), 0.3);
  --fc-highlight-color: rgba(var(--accent-rgb), 0.2);
}

#fdrive-wrapper.small #calendar-actual {
  padding-top: 0.5rem !important;
}
#fdrive-wrapper.small .fc-header-toolbar {
  flex-direction: column;
}
#fdrive-wrapper.small .fc-header-toolbar > div + div {
  margin-top: 0.5rem;
}
#fdrive-wrapper.small .fc-toolbar-title {
  font-size: 1.2rem;
}

#fdrive-calendar .fdrive-pane-title {
  background: #000;
  text-align: center;
}
#fdrive-calendar .fdrive-pane-title > span {
  line-height: 3rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
}
#fdrive-calendar .fdrive-pane-title .title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70%;
  width: 70%;
  white-space: nowrap;
  direction: rtl;
  display: inline-block;
}
#fdrive-calendar #calendar-actual {
  padding: 1rem 2rem 7rem;
}
#fdrive-calendar #calendar-actual > .fc-view-harness {
  background: var(--base);
}
#fdrive-calendar #calendar-actual .fc-timegrid-event-harness {
  line-height: 1.1rem !important;
}
#fdrive-calendar #calendar-actual table tr > :first-child:not(.fc-list-event-time) {
  padding-left: unset !important;
}
#fdrive-calendar .fc-daygrid-day-events {
  position: absolute;
  width: 100%;
}
#fdrive-calendar .fc-daygrid-day-events .fc-daygrid-event-dot {
  display: none;
}
#fdrive-calendar .fc-daygrid-day-events .fc-daygrid-event-harness a {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(var(--accent-rgb), 0.1);
  padding: 0.5rem 0.25rem;
}
#fdrive-calendar .fc-daygrid-day-events .fc-daygrid-event-harness a b {
  margin-right: 0.5rem;
}
#fdrive-calendar .fc .fc-daygrid-day-frame {
  overflow: hidden;
}
#fdrive-calendar .fc-timeGridWeek-view .fc-event-main b {
  display: block;
}
#fdrive-calendar .fc-timeGridWeek-view tbody > tr:first-child td .fc-daygrid-day-frame {
  height: fit-content;
  overflow: unset;
}
#fdrive-calendar .fc-timeGridWeek-view tbody > tr:first-child td .fc-daygrid-day-frame .fc-daygrid-day-events {
  position: unset;
}
#fdrive-calendar .fc-timeGridWeek-view tbody > tr:first-child td .fc-daygrid-day-frame .fc-daygrid-day-events a {
  white-space: normal;
}
#fdrive-calendar td.fc-day {
  line-height: 1.1rem;
}
#fdrive-calendar .fc-event {
  overflow: hidden;
}

#fdrive-calendar-popover {
  background: rgba(var(--base-rgb), 0.9);
  border: solid 1px var(--accent);
  padding: 0.5rem;
  z-index: 1000;
  position: relative;
}
#fdrive-calendar-popover .pointer {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 0 1rem 1rem;
  border-color: transparent transparent transparent var(--accent);
  transform: translateX(-100%) translateY(-50%) rotate(180deg);
  position: absolute;
  left: 0;
  top: 50%;
}
#fdrive-calendar-popover .title {
  display: flex;
  flex-direction: column;
}
#fdrive-calendar-popover .title .name {
  font-size: 1.2rem;
  font-weight: 600;
  max-height: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
#fdrive-calendar-popover .title .day {
  color: var(--accent);
}
#fdrive-calendar-popover .controls {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
}
#fdrive-calendar-popover .controls i {
  opacity: 0.5;
  margin: 0.5rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  width: 2rem;
  text-align: center;
}
#fdrive-calendar-popover .controls i:hover {
  opacity: 1;
}

/*# sourceMappingURL=fdriveCalendar.css.map */
