#fdrive-wrapper {
  position: relative;
  --tabs-height:5.5rem;
  --tab-icon-height:2.5rem;
}
#fdrive-wrapper.init-done {
  transition: width 0.5s ease-in-out, min-width 0.5s ease-in-out;
}
#fdrive-wrapper.is-resizing {
  transition: none !important;
  user-select: none;
}
#fdrive-wrapper .expander {
  position: absolute;
  user-select: none;
  top: 50%;
  transform: translateY(-50%);
  right: -2rem;
  width: 2rem;
  height: 13rem;
  background: rgba(17, 17, 17, 0.9333333333);
  z-index: 2;
  border: solid 1px var(--border-color);
  border-left: solid 1px rgba(17, 17, 17, 0.9333333333);
  cursor: pointer;
  opacity: 0.75;
}
#fdrive-wrapper .expander:has(+ .resizer:hover) {
  border-left: solid 7px rgba(17, 17, 17, 0.9333333333);
}
#fdrive-wrapper .expander:hover {
  opacity: 1;
}
#fdrive-wrapper .expander > span {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  text-align: center;
  width: 100%;
  height: calc(100% - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
}
#fdrive-wrapper .expander > span > i {
  transform: rotate(90deg);
  padding-right: 1.5rem;
  padding-top: 0.25rem;
}
#fdrive-wrapper .expander > i {
  position: relative;
  top: 0.65rem;
  left: 0.65rem;
}
#fdrive-wrapper .resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--border-color);
  z-index: 1;
  cursor: ew-resize;
}
#fdrive-wrapper.is-resizing .resizer, #fdrive-wrapper .resizer:hover {
  width: 6px;
}
#fdrive-wrapper .fdrive-inner {
  height: 100%;
  overflow: hidden;
  background: rgba(17, 17, 17, 0.9333333333);
  position: relative;
}
#fdrive-wrapper.collapsed {
  width: 0 !important;
  min-width: 0 !important;
}
#fdrive-wrapper.expanded .expander {
  opacity: 1;
}
#fdrive-wrapper.expanded .expander > i {
  transform: rotate(-180deg);
}
@media screen and (max-width: 1000px) {
  #fdrive-wrapper.expanded .nope-fdrive-inner {
    width: min(90vw, 40rem);
  }
  #fdrive-wrapper.expanded .nope-fdrive-inner #calendar-actual {
    width: min(90vw, 40rem);
  }
}
@media screen and (min-width: 1000.001px) {
  #fdrive-wrapper.expanded .nope-fdrive-inner {
    width: 60rem;
  }
  #fdrive-wrapper.expanded .nope-fdrive-inner #calendar-actual {
    width: 60rem;
  }
}
#fdrive-wrapper .fdrive-add-button > i {
  position: absolute;
  bottom: 6.5rem;
  right: 2.5rem;
  padding: 1rem;
  border-radius: 51rem;
  background: rgba(var(--accent-rgb), 0.3);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  font-size: 2rem;
  font-weight: 900;
  color: var(--color);
  width: 2rem;
  height: 2rem;
  margin: auto;
  -webkit-text-stroke: 0.5rem var(--color);
}
#fdrive-wrapper .fdrive-add-button > i:hover {
  background: rgba(var(--accent-rgb), 0.7);
  transform: scale(1.1);
}
@-moz-document url-prefix() {
  #fdrive-wrapper .fdrive-add-button > i {
    text-shadow: -1px -1px 0 var(--color), 1px -1px 0 var(--color), -1px 1px 0 var(--color), 1px 1px 0 var(--color), -2px -2px 0 var(--color), 2px -2px 0 var(--color), -2px 2px 0 var(--color), 2px 2px 0 var(--color);
  }
}
#fdrive-wrapper .fdrive-add-button > i::before {
  position: relative;
  left: 1px;
}
#fdrive-wrapper .content {
  width: calc(100% - 0.5rem);
  height: calc(100% - var(--tabs-height));
  min-height: calc(100% - var(--tabs-height));
  overflow: auto;
}
#fdrive-wrapper .fdrive-tabs {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: var(--tabs-height);
  display: flex;
  flex-direction: row;
}
#fdrive-wrapper .fdrive-tabs > div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 1rem;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
  opacity: 0.2;
  background: #000;
  user-select: none;
}
@media screen and (max-width: 1000px) {
  #fdrive-wrapper .fdrive-tabs > div {
    font-size: 0.9rem;
  }
}
#fdrive-wrapper .fdrive-tabs > div.active {
  opacity: 1;
  background: unset;
}
#fdrive-wrapper .fdrive-tabs i {
  font-size: 2rem;
  text-align: center;
  height: var(--tab-icon-height);
  display: block;
}
#fdrive-wrapper .fdrive-tabs svg {
  padding-bottom: 0.6rem;
  height: calc(var(--tab-icon-height) - 0.6rem);
}
#fdrive-wrapper .fdrive-tabs img {
  padding-bottom: 0.6rem;
  height: calc(var(--tab-icon-height) - 0.6rem);
}
#fdrive-wrapper .fdrive-tabs span.label {
  font-size: 0.7rem;
  display: block;
  text-align: center;
}
#fdrive-wrapper .fdrive-modes {
  height: calc(100% - var(--tabs-height));
}
#fdrive-wrapper .fdrive-modes .fdrive-pane-title {
  height: 3rem;
}
#fdrive-wrapper .fdrive-modes > div {
  height: 100%;
}
#fdrive-wrapper .fdrive-modes > div:not(.visible) {
  display: none !important;
}

.media {
  position: relative;
  transition: opacity 0.25s ease-in-out;
}
.media .controls {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  font-size: 2rem;
  display: none;
}
.media .controls > i {
  cursor: pointer;
  position: absolute;
}
.media .controls .delete {
  left: 0.85rem;
  top: 0.7rem;
  color: rgba(var(--color-rgb), 0.8);
}
.media .controls .fa-circle {
  color: rgba(var(--accent-rgb), 0.3);
  font-size: 3.5rem;
}
.media .controls:hover .delete {
  color: var(--color);
}
.media .controls:hover .fa-circle {
  color: rgba(var(--accent-rgb), 0.7);
}
.media:hover .controls {
  display: unset;
}

.media:hover {
  opacity: 1;
}

body.drawer-item-opened ul.main-menu {
  display: none;
}
body.drawer-item-opened .expander {
  display: none;
}
.fdrive-item-content {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem;
  height: calc(100% - 4rem);
  width: calc(100% - 4rem);
  transition: transform 0.2s ease-in-out;
  transform: translateX(100%);
  background: var(--base);
  flex-direction: column;
}
.fdrive-item-content.visible {
  transform: translateX(0);
  display: flex;
  z-index: 5;
}
.fdrive-item-content .header button {
  background-color: #222222;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--color);
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 3rem;
}
.fdrive-item-content .header button + button {
  margin-left: 0.5rem;
}
.fdrive-item-content .header button:hover {
  background: rgba(var(--accent-rgb), 0.4);
}

/*# sourceMappingURL=fdrive.css.map */
