.fdrive-preview {
  .header {
    display:flex;
    .title {
      flex-grow:1;
      align-self: center;
    }
    margin-bottom:1rem;
  }
  .body {
    flex-grow:1;
    display: flex;
    place-items: center;
    text-align: center;
    position: relative;
    overflow:auto;
    img {
      max-width: 100%;
      max-height: 100%;
      margin:auto;
    } 
    .text-preview {
      height:100%;
      width:100%;
      min-width:100%;
      min-height: 100%;
      text-align: left;
    }
  }
  .footer {
    text-align: center;
    padding:0.5rem;
  }
}