body.no-custom-background {
  background: linear-gradient(-45deg, #6c0d91, #0c475c, #113d14) !important;
  background-size: 1000% 1000% !important;
  background-position: center;
}

body.no-custom-background.animate-background {
  animation: gradient 10s ease infinite;
}

body.no-custom-background::before {
  font-size: 52px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  z-index: 0;
}

body.no-custom-background::before {
  text-shadow: 1.1416076795em -0.2592843626em 12px rgba(255, 201, 0, 0.9), 1.9783010183em -0.1971797702em 12px rgba(114, 255, 0, 0.9), 0.3032522636em -0.0212864231em 12px rgba(255, 206, 0, 0.9), 1.4215408549em 0.6467773476em 12px rgba(255, 0, 205, 0.9), 1.618690503em 1.9924558667em 12px rgba(255, 0, 6, 0.9), 1.0009161229em 2.467887347em 12px rgba(255, 219, 0, 0.9), 2.1052399982em 0.7139529997em 12px rgba(208, 255, 0, 0.9), 1.8789186302em 2.3334798928em 12px rgba(255, 140, 0, 0.9), 0.4633141895em -0.2520647117em 12px rgba(46, 255, 0, 0.9), -0.3500236288em 2.4330895177em 12px rgba(87, 255, 0, 0.9), 1.8561548445em 0.1847013389em 12px rgba(119, 0, 255, 0.9), 1.3095426986em 0.9621702472em 12px rgba(248, 0, 255, 0.9), 0.8832737936em 2.2793179665em 12px rgba(0, 255, 84, 0.9), 0.6994402074em 0.7624637241em 12px rgba(255, 0, 31, 0.9), 0.2044001857em 1.0500858759em 12px rgba(149, 0, 255, 0.9), 2.1450227439em 0.6317903733em 12px rgba(255, 134, 0, 0.9), 1.0131077652em 1.6322013625em 12px rgba(0, 251, 255, 0.9), -0.3171505105em -0.2810871783em 12px rgba(0, 255, 4, 0.9), 0.0415703339em 0.9290301831em 12px rgba(0, 255, 22, 0.9), 1.2442586578em 0.9005857944em 12px rgba(255, 0, 65, 0.9), 0.45016819em -0.3205181349em 12px rgba(0, 255, 115, 0.9), 1.49976163em 1.3046393484em 12px rgba(255, 20, 0, 0.9), -0.3680694449em 1.834268377em 12px rgba(81, 255, 0, 0.9), -0.4694752064em 2.112741807em 12px rgba(2, 255, 0, 0.9), 0.86567354em -0.2420440151em 12px rgba(128, 255, 0, 0.9), 1.829979873em 0.6737202215em 12px rgba(255, 59, 0, 0.9), 2.1349980418em 1.9351236172em 12px rgba(80, 255, 0, 0.9), 1.131773357em 0.7214803615em 12px rgba(0, 158, 255, 0.9), -0.1053509053em 1.1986172662em 12px rgba(0, 255, 162, 0.9), 0.0805461943em 2.1112283308em 12px rgba(255, 187, 0, 0.9), 2.4937705681em 0.0315969476em 12px rgba(225, 255, 0, 0.9), 0.4040404481em 0.1995449121em 12px rgba(173, 0, 255, 0.9), -0.2203518435em 0.061066627em 12px rgba(217, 0, 255, 0.9), 2.4143767716em 2.4326371422em 12px rgba(180, 0, 255, 0.9), -0.4403318578em -0.023197331em 12px rgba(0, 92, 255, 0.9), -0.4480514347em 1.9025198177em 12px rgba(0, 31, 255, 0.9), 0.1080973236em 0.2213156229em 12px rgba(0, 255, 236, 0.9), 1.5274617395em 0.3145827934em 12px rgba(131, 0, 255, 0.9), 2.2357035006em 0.3138732042em 12px rgba(255, 253, 0, 0.9), -0.3859022615em -0.3692247297em 12px rgba(5, 255, 0, 0.9), 0.0082161868em 1.444082565em 12px rgba(70, 255, 0, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}