body {    
    background-size:cover;
    background-repeat: no-repeat;
}

.main-content {    
  padding:0;
  display:flex;
  flex-direction: column;
}

.preview-dashboard{
    padding-top:1rem;
    .db-group {        
        text-align: -webkit-center;
        .title {
            position: unset;
        }
    }
    .db-item.small .actions{
        flex-flow:unset !important;
        width:11.5rem;
        transform: translateX(calc(-50% + 2rem));
    }
}

.dashboard {
    visibility: hidden;
    padding-top:1rem;
    $baseSize: 3.75rem;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    position:unset;
    place-self:self-end;
    justify-content: center;
    &.left{
        justify-content: start;
    }
    &.top {
        place-self:self-start;
        align-content: flex-start;    
    }
    &.right{
        justify-content: end;
    }
    &.bottom{
    }
    &.center {
        place-self:center;
    }
}

.db-group {
    margin:1rem;
    text-decoration: unset;
    position: relative;

    > .title {
        text-align: left;
        text-transform: uppercase;
        position: absolute;
        left:0.5rem;
        top:-1.5rem;
        right:0.5rem;    
        min-width: 10rem;

        span {
            padding: 0 0.5rem 0.5rem;
            font-weight:600;
            color: var(--color);
        }
    }
}

.dashboard.db-group {
    margin-top:3rem;
}

@media screen and (max-width:450px){
    .dashboard {
        justify-content: center !important;
    }
}



@media screen and (min-width:720.001px) {    
    body.horizontal {
        overflow:hidden;
    }
    .dashboard.horizontal
    {
        padding:1rem 0 0;
        display:flex;
        flex-direction: column; 
        overflow-y: hidden;
        overflow-x:auto;
        height:calc(100% - 1rem);
        width:unset;
        min-width: 100%;
        &.center {            
            align-content: center;
            justify-content: center;
        }
        &.left {     
            align-content: start;
        }
        &.right {     
            align-content: end;
            justify-content: unset; // this prevents scrolling, so turn off
        }
        &.bottom {           
            justify-content: end;
        }
    }
}



.dashboard.status-indicators 
{
    .db-item.is-up-false:not(:hover){
        opacity:0.3;
    }
}