body.no-custom-background:not(.settings):not(.show-background) {
  background-image: none;
  --bg-base: rgb(10,10,10);
  background: var(--bg-base, #0a0a0a);
}

body.custom-background.show-background:not(.settings) .bg1 {
  opacity: 0.1 !important;
}
body.custom-background.show-background:not(.settings) .bg2 {
  opacity: 0.05 !important;
}
body.custom-background.show-background:not(.settings) .bg3 {
  opacity: 0.03 !important;
}

body.no-custom-background:not(.settings) .bg,
body.custom-background.show-background:not(.settings) .bg {
  background-image: linear-gradient(-60deg, var(--accent, #ff0090) 50%, var(--bg-base, #0a0a0a) 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
body.no-custom-background:not(.settings).no-animate-background .bg1,
body.custom-background.show-background:not(.settings).no-animate-background .bg1 {
  right: -90%;
}
body.no-custom-background:not(.settings).no-animate-background .bg2,
body.custom-background.show-background:not(.settings).no-animate-background .bg2 {
  right: -18%;
}
body.no-custom-background:not(.settings).no-animate-background .bg3,
body.custom-background.show-background:not(.settings).no-animate-background .bg3 {
  left: -134%;
}
body.no-custom-background:not(.settings).animate-background .bg,
body.custom-background.show-background:not(.settings).animate-background .bg {
  animation: slide 6s ease-in-out infinite alternate;
}
body.no-custom-background:not(.settings).animate-background .bg2,
body.custom-background.show-background:not(.settings).animate-background .bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 8s;
}
body.no-custom-background:not(.settings).animate-background .bg3,
body.custom-background.show-background:not(.settings).animate-background .bg3 {
  animation-duration: 10s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}