@use 'tiles';
body.horizontal {
    overflow:hidden;
}
body {    
    background: url('background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    visibility: hidden;
}
.main-content {    
    padding:0;
}

.dashboard {
    $baseSize: 3.75rem;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    place-self:self-end;
    justify-content: center;
    &.left{
        justify-content: start;
    }
    &.top {
        place-self:self-start;
        align-content: flex-start;    
    }
    &.right{
        justify-content: end;
    }
    &.bottom{
    }
    &.center {
        place-self:center;
    }
}

@media screen and (min-width:720.001px) {        
    .dashboard.horizontal
    {
        padding:1rem 0 0;
        display:flex;
        flex-direction: column; 
        overflow-y: hidden;
        overflow-x:auto;
        height:calc(100% - 1rem);
        width:unset;
        min-width: 100%;
        &.center {            
            align-content: center;
            justify-content: center;
        }
        &.left {     
            align-content: start;
        }
        &.right {     
            align-content: end;
            justify-content: unset; // this prevents scrolling, so turn off
        }
        &.bottom {           
            justify-content: end;
        }
    }
}

// @media screen and (max-width:720px) {
//     .main-content{
//         padding:1rem;
//     }
//     .main-menu {
//         display:none;
//     }
//     .dashboard
//     {        
//         width: min-content;
//         justify-content: center;
//     }
// }


.db-group {
    margin:1rem;
    text-decoration: unset;
    position: relative;

    .separator2 {
        width:100%;
        border-top:solid 1px var(--accent);
        margin:1rem;
    }
    > .title {
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        left:0.5rem;
        top:-1.5rem;

        span {
            padding: 0.5rem 0.5rem 0.5rem;
            font-weight:600;
            color: var(--color);
        }
    }
}
.dashboard.vertical .db-group {
    margin-top:3rem;
}