@page "/settings/system/users"
@namespace Fenrus.Pages
@inherits CommonPage<Fenrus.Models.User>

<PageTitle>Fenrus - @Title</PageTitle>

<FenrusPage Title="@Title" Icon="fa-solid fa-user-group" PageDescription="@Description">
    <Body>
    
    <FenrusTable @ref=Table TItem="Models.User" Data=@Items>
        <ToolBar>
            <FenrusTableButton Label="Add" Icon="fa-solid fa-plus" Clicked="() => Add()" />
        </ToolBar>
        <Columns>
            <FenrusTableColumn TItem="Models.User" ColumnName="Name">
                <Header>Name</Header>
                <Cell Context="item">
                    <i class="fa-solid fa-user"></i>
                    <a @onclick="() => Edit(item)" @onclick:preventDefault="true" href="#">@item.Name</a>
                </Cell>
            </FenrusTableColumn>
            <FenrusTableColumn TItem="Models.User" ColumnName="Actions" Width="10rem">
                <Header></Header>
                <Cell Context="item">
                    <div class="actions">
                        <span title="Edit" class="fa-solid fa-pen-to-square" @onclick="() => Edit(item)"></span>
                        <span title="Delete" class="fa-solid fa-trash" @onclick="() => Remove(item)"></span>
                    </div>
                </Cell>
            </FenrusTableColumn>
        </Columns>
    </FenrusTable>
        
    </Body>
</FenrusPage>