body {    
    background: url('/themes/Heimdall/background.jpg');
}


.dashboard {
    align-items: center;
    justify-content: center;
    margin-top:5rem;
    height:calc(100% - 5rem);
}

.db-item {
    width: 18rem;
    background: rgba(8,8,8,.8);
    background-image: linear-gradient( 90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.25));
    border-radius: 0.5rem;
    color: var(--color);
    position: relative;
    overflow: hidden;
    border: solid 1px #333;
    text-decoration: none !important;
    margin: 0.75rem;
    height:5.5rem;
    .inner {        
        display: inline-flex;
        flex-direction: row;
        width:100%;
    }
    .status
    {
        .bar-info-label-value,
        .bar-info {
            display: none;
        }
    }

    &:hover {
        border-color:var(--accent);
        &:after {
            background:rgba(var(--accent-rgb), 0.2);
        }
    }

    .icon {
        width: 4.1rem;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0.5rem;

        img {
            max-width: 4rem;
            height: 4rem;
        }
    }

    .carousel {
        display:none;
    }

    &.carousel {
        // this theme doesnt support these
        .inner>.icon {
            display:unset;
        }
    }

    .content {
        justify-content: center;
        display: flex;
        margin-left: 0.5rem;
        flex-direction: column;
        flex-grow: 1;
        margin-right: 2rem;

        .title {
        }
    }

    &::after {
        content: "";
        width: 6.25rem;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        right: -4rem;
        top: 0;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px 0 rgb(0 0 0 / 20%);
    }
    
    .arrow {
        &::after {
            font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105";
            font-size:1.5rem;
            position:relative;
            left:7px;
            top:1px;
            color:rgba(255,255,255,0.7);
            z-index:2;
        }

        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: 0.25rem;
        top: 1.75rem;
    }
}



.db-group {
    + .db-group {
        margin-top: 2rem;
    }

    > .title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0.25rem;

        span {
            font-weight: 600;
            padding: 0.5rem 0.5rem 0.5rem;
            min-width: 10rem;
            display: inline-block;
            position: relative;
            bottom: -1px;
        }
    }
    .group-controls {
        position:absolute;
        right:0;
    }

    > .items {
        flex-direction: row;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.livestats {
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:row;
    font-size:0.8rem;    
    margin-top:0.5rem;

    li {
        list-style: none;
        padding: 0;
        display:flex;
        flex-direction:column;
        flex:auto;
        .title{
            text-transform:uppercase;
            color:var(--color-secondary);
            padding-bottom:0.1rem;
            font-weight:bold;
        }
    }
}

.item-icon-picker .db-item {
    display:block;
    height:72px;
}