@charset "UTF-8";
.main-content {
  background: url("/themes/Heimdall/background.jpg");
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}

.db-item {
  display: inline-flex;
  flex-direction: row;
  width: 18rem;
  background: #080808b3;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  border-radius: 0.5rem;
  color: var(--color);
  position: relative;
  overflow: hidden;
  border: solid 1px #333;
  text-decoration: none;
  margin: 0.75rem;
}
.db-item:hover {
  box-shadow: 0 0 15px rgba(var(--accent-rgb), 0.7);
}
.db-item:hover .icon {
  background: rgba(var(--accent-rgb), 0.4);
}
.db-item .icon {
  width: 4.1rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background: rgba(50, 50, 50, 0.3);
  border-right: solid 1px #333;
  padding: 0.5rem;
}
.db-item .icon img {
  max-width: 4rem;
  height: 4rem;
}
.db-item .status .fill {
  display: none;
}
.db-item .content {
  justify-content: center;
  display: flex;
  margin-left: 0.5rem;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 2rem;
}
.db-item::after {
  content: "";
  width: 6.25rem;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  right: -4rem;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
}
.db-item .arrow {
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.25rem;
  top: 1.75rem;
}
.db-item .arrow::after {
  content: "";
  font-family: "icomoon" !important;
  font-size: 2rem;
  position: relative;
  left: 7px;
  top: -3px;
  color: rgba(255, 255, 255, 0.7);
}

.db-group + .db-group {
  margin-top: 2rem;
}
.db-group > .title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  border-bottom: solid 1px var(--accent);
}
.db-group > .title span {
  font-weight: 600;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5rem 0.5rem 0.5rem;
  min-width: 10rem;
  display: inline-block;
  border: solid 1px var(--accent);
  position: relative;
  bottom: -1px;
  color: var(--accent);
}
.db-group > .items {
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.livestats {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.livestats li {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: auto;
}
.livestats li .title {
  text-transform: uppercase;
  color: var(--color-secondary);
  padding-bottom: 0.1rem;
  font-weight: bold;
}