.db-item .status .bar-info {
  display: flex;
  flex-direction: row;
  height: 2rem;
  margin-top: 0.5rem;
}
.db-item .status .bar-icon {
  width: 2rem;
  margin-right: 0.5rem;
}
.db-item .status .bar-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.db-item .status .bar {
  position: relative;
  flex-grow: 1;
  background: rgba(var(--accent-rgb), 0.2);
  border-radius: 8px;
}
.db-item .status .bar .fill {
  position: absolute;
  border-radius: 7px;
  left: 2px;
  top: 2px;
  bottom: 2px;
  background: var(--accent);
  max-width: calc(100% - 4px);
}
.db-item .status .bar .labels > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.db-item .status .bar .info-label {
  left: 0.5rem;
}
.db-item .status .bar .fill-label {
  right: 0.5rem;
}