.settings-box.background-page {
    #ImagePreview {
        max-width: 100%;
    }

    .buttons {
        display:flex;
        flex-direction:row;
        justify-items:center;
        margin-top:1rem;
    }
}
