.btn {
    height: 2.1875rem;
    font-weight: normal;
    outline: none !important;
    line-height: initial;
    box-shadow: none;
    border-radius: unset !important;
    font-size: 0.85rem !important;
    text-transform: uppercase;
    border: solid 1px var(--accent, #ff0090);
    background-color: transparent;
    color: var(--color, white);
    width: 8rem;    
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
        box-shadow: inset 0 -3px 0 0 var(--accent) !important;
    }
    &:disabled {
        cursor:not-allowed;
    }
}

a.btn {
    width:calc(8rem - 2px); // for the border
    
    display: flex;
    place-content: center;
    align-items: center;
    text-decoration:none;
}