.carousel {
  display: flex;
  flex-direction: row;
}
.carousel .item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.carousel .controls {
  position: absolute;
  bottom: 3px;
  padding: 0.5rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 8rem);
  text-align: center;
  z-index: 5;
}
.carousel .controls a {
  display: inline-block;
  background-color: var(--color);
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: middle;
  margin: 0 0.25rem;
  opacity: 0.7;
}
.carousel .controls a:hover {
  opacity: 0.9;
}
.carousel .controls a.selected {
  background-color: var(--accent);
}
.carousel .item {
  z-index: 0;
  display: none;
}
.carousel .item.hidden {
  z-index: 2;
  display: unset;
}
.carousel .item.visible {
  display: unset;
  opacity: 1;
  z-index: 3;
}
.carousel .item.visible:not(.initial) {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}