.carousel
{
    display:flex;
    flex-direction: row;
    .item {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    .controls 
    {
        position: absolute;
        bottom: 3px;
        padding:0.5rem;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        width:calc(100% - 8rem);
        text-align: center;
        z-index: 5;
        a {
            display: inline-block;
            background-color: var(--color);
            border-radius: 100%;
            width: 0.5rem;
            height: 0.5rem;
            vertical-align: middle;
            margin: 0 0.25rem;
            opacity: 0.7;
            &:hover {
                opacity: 0.9;
            }

            &.selected {
                background-color: var(--accent);
            }
        }
    }

    .item {
        z-index:0;
        display:none;
    }
    .item.hidden {
        z-index:2;
        display:unset;
    }
    .item.visible {
        display:unset;
        opacity:1;
        z-index:3;
        &:not(.initial)
        {
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
        }
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.db-item.small, .db-item.medium {
    .carousel
    {
        display:none;
    }
}

.carousel {
    .inner > .icon {
        display:none;
    }
    .fill {
        background:#222;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .app-icon {
        position:absolute;
        top:.25rem;
        left:.25rem;
        img {
            width:3rem;
            height:3rem;
        }
    }
    .cover-link {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
    }
    .tl, .tr, .br, .bl {
        background:rgba(0,0,0,0.6);
        padding:0.5rem;
        position:absolute;
        color:var(--color);
    }
    .tr, .br {        
        text-align: right;
    }
    .tr {
        top:0;
        right:0;
        max-width:70%;
        overflow: hidden;
        text-overflow: ellipsis;
        &:not(.wrap){
            white-space: nowrap;
        }
    }
    .br {
        bottom:0;
        right:0;
    }
    .bl {
        bottom:0;
        left:0;
    }
    .discount
    {
        color:rgb(0, 235, 0);
        .down-icon {
            transform: rotate(-90deg);
            display: inline-block;
        }
    }
}