@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?i76gfk");
  src: url("/fonts/icomoon.eot?i76gfk#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?i76gfk") format("truetype"), url("/fonts/icomoon.woff?i76gfk") format("woff"), url("/fonts/icomoon.svg?i76gfk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user1:before {
  content: "";
}

.icon-th-large:before {
  content: "";
}

.icon-trash:before {
  content: "";
}

.icon-home1:before {
  content: "";
}

.icon-download1:before {
  content: "";
}

.icon-repeat:before {
  content: "";
}

.icon-rotate-right:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-image1:before {
  content: "";
}

.icon-photo1:before {
  content: "";
}

.icon-picture-o1:before {
  content: "";
}

.icon-pencil1:before {
  content: "";
}

.icon-share-square-o:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-cogs:before {
  content: "";
}

.icon-gears:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-bars:before {
  content: "";
}

.icon-navicon:before {
  content: "";
}

.icon-reorder:before {
  content: "";
}

.icon-caret-left:before {
  content: "";
}

.icon-caret-right:before {
  content: "";
}

.icon-sort:before {
  content: "";
}

.icon-unsorted:before {
  content: "";
}

.icon-user-circle:before {
  content: "";
}

.icon-user-circle-o:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-question:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-th-list:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-remove:before {
  content: "";
}

.icon-times:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-gear:before {
  content: "";
}

.icon-trash-o:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-inbox:before {
  content: "";
}

.icon-image:before {
  content: "";
}

.icon-photo:before {
  content: "";
}

.icon-picture-o:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-pencil-square-o:before {
  content: "";
}