.btn {
  text-decoration: none;
  color: var(--button-color, var(--color, #fff));
  background: var(--button-background, transparent);
  border: solid 1px var(--border-color, var(--color, rgba(255, 255, 255, 0.3)));
  border-radius: 0.1rem;
  text-align: center;
  padding: 0.5rem 0;
  text-transform: uppercase;
  width: 8rem;
  cursor: pointer;
}
.btn:hover {
  background: var(--accent, #ff0090);
  color: var(--color, #fff);
}
.btn:disabled {
  cursor: not-allowed;
}

a.btn {
  width: calc(8rem - 2px);
}

.main-content {
  flex-direction: column;
}

.login-box {
  width: min(400px, 70vw);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
}
.header .logo img {
  width: 6rem;
}
.header .title {
  font-size: 1.5rem;
  flex-grow: 1;
  margin: 1rem auto 0;
}

.field {
  margin: 1rem 0;
}
.field .label {
  text-transform: uppercase;
}

input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background: var(--input-background);
  border: solid 1px var(--input-border);
  color: var(--input-color);
}
input:focus {
  outline: solid 1px var(--accent);
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}
.buttons .btn + .btn {
  margin-right: 1rem;
}
.buttons .btn + .btn + .btn {
  margin-right: auto;
}

.error {
  text-align: center;
  color: #ff8484;
}