.btn {
  height: 2.1875rem;
  font-weight: normal;
  outline: none !important;
  line-height: initial;
  box-shadow: none;
  border-radius: unset !important;
  font-size: 0.85rem !important;
  text-transform: uppercase;
  border: solid 1px var(--accent, #ff0090);
  background-color: transparent;
  color: var(--color, white);
  width: 8rem;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
  box-shadow: inset 0 -3px 0 0 var(--accent) !important;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

a.btn {
  width: calc(8rem - 2px);
  display: flex;
  place-content: center;
  align-items: center;
  text-decoration: none;
}

.main-content {
  flex-direction: column;
}

.login-box {
  width: min(400px, 70vw);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
}
.header .logo img {
  width: 6rem;
}
.header .title {
  font-size: 1.5rem;
  flex-grow: 1;
  margin: 1rem auto 0;
}

.field {
  margin: 1rem 0;
}
.field .label {
  text-transform: uppercase;
}

input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background: var(--input-background);
  border: solid 1px var(--input-border);
  color: var(--input-color);
}
input:focus {
  outline: solid 1px var(--accent);
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}
.buttons .btn + .btn {
  margin-right: 1rem;
}
.buttons .btn + .btn + .btn {
  margin-right: auto;
}

.error {
  text-align: center;
  color: #ff8484;
}