.main-menu {
  justify-content: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: row;
}
.main-menu a:not(.btn) {
  color: var(--color);
  text-decoration: none !important;
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 3.5rem;
  transition: transform 0.2s;
}
.main-menu .btn {
  transform: scale(1) !important;
}
.main-menu .logout.has-settings {
  padding-left: 8rem;
}
.main-menu li {
  width: 3.5rem;
  height: 3.5rem;
  justify-content: center center;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  margin: 1px;
  justify-content: center;
  position: relative;
}
.main-menu li:hover, .main-menu li.force-hover {
  background-color: var(--accent);
}
.main-menu li:hover a, .main-menu li.force-hover a {
  transform: scale(1.4);
  position: relative;
  top: 3px;
}
.main-menu li:hover .panel, .main-menu li.force-hover .panel {
  display: flex;
  flex-direction: column;
  background: #000001;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 3.75rem;
  font-size: 1rem;
  z-index: 10;
}
.main-menu li:hover .panel.groups .setting .value, .main-menu li.force-hover .panel.groups .setting .value {
  min-width: unset;
}
.main-menu li:hover .panel .setting, .main-menu li.force-hover .panel .setting {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-menu li:hover .panel .setting .label, .main-menu li.force-hover .panel .setting .label {
  width: 8rem;
}
.main-menu li:hover .panel .setting + .setting, .main-menu li.force-hover .panel .setting + .setting {
  margin-top: 1rem;
}
.main-menu li:hover .panel .setting.integer .value, .main-menu li.force-hover .panel .setting.integer .value {
  display: flex;
  flex-direction: row;
  place-items: center;
}
.main-menu li:hover .panel .setting.integer .value .range-value, .main-menu li.force-hover .panel .setting.integer .value .range-value {
  width: 2rem;
  margin: auto;
  background: var(--accent);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
.main-menu li:hover .panel .setting .value, .main-menu li.force-hover .panel .setting .value {
  flex-grow: 1;
  min-width: 10rem;
}
.main-menu li:hover .panel .setting select, .main-menu li.force-hover .panel .setting select {
  width: 100%;
  background: var(--accent);
  border-color: var(--accent);
  color: var(--color);
  height: 2rem;
  border-radius: 0.25rem;
}
.main-menu li:hover .panel .setting input[type=range], .main-menu li.force-hover .panel .setting input[type=range] {
  appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-size: 70% 100%;
  background-repeat: no-repeat;
}
.main-menu li:hover .panel .setting input[type=range]::-webkit-slider-thumb, .main-menu li.force-hover .panel .setting input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--accent);
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}
.main-menu .panel {
  display: none;
}
.main-menu .li-about:hover a, .main-menu .li-about.force-hover a {
  top: 0;
}
.main-menu .color-picker input {
  height: 2rem;
  border-radius: 0.25rem;
  background: var(--accent);
  color: var(--color);
  border: none;
  width: calc(100% - 0.75rem);
  background-image: unset !important;
  padding-left: 1rem !important;
}
.main-menu .icon-fenrus {
  position: relative;
  top: 7px;
}

.icon-fenrus {
  background: url("/favicon.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-fenrus:not(.coloured) {
  filter: grayscale(1) brightness(12);
}