
.main-menu {
    justify-content: right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5rem;
    z-index:10;
    display:flex;
    flex-direction: row;

    $size: 3.5rem;
    li:hover .fa-house {
        position: relative;
        top:-2.5px;
    }
    li:hover .fa-sliders {
        position: relative;
        top:-1px;
    }

    a:not(.btn) {
        color: var(--color);
        text-decoration: none !important;
        margin: auto;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: $size;
        transition: transform .2s;
    }

    .btn {        
        transform: scale(1) !important;
    }

    .logout.has-settings {
        padding-left: 8rem;
    }

    li {
        width: $size;
        height: $size;
        justify-content: center center;
        display: flex;
        background: rgba(0,0,0,0.8);
        margin: 1px;
        justify-content: center;        
        position:relative;

        &:hover, &.force-hover {
            background-color: var(--accent);
            a {                
                transform: scale(1.4);   
                position: relative;
                top:3px;
            }
            .panel {
                display:flex;
                flex-direction: column;
                background:rgba(0,0,0.5);
                padding:1rem;
                position:absolute;
                right:0;
                top:3.75rem;
                font-size:1rem;
                z-index:10;
                &.groups .setting .value {
                    min-width:unset;
                }
                .setting {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .label {
                        width: 10rem;
                        max-width: 10rem;
                        min-width: 10rem;
                        text-align: right;
                        margin-right:1rem;
                        margin-top: 0.25rem;
                        margin-bottom:auto;
                    }
                    + .setting {
                        margin-top:1rem;
                    }
                    &.integer .value {
                        display: flex;
                        flex-direction: row;
                        place-items: center;
                        .range-value {
                            width:2rem;
                            margin: auto;
                            background: var(--accent);
                            border-radius: 0.5rem;
                            padding: 0.5rem;
                            text-align: center;
                        }
                    }
                    .value {
                        flex-grow:1;
                        min-width:18rem;
                    }                    
                    select {
                        width:100%;
                        background:var(--accent);
                        border-color:var(--accent);
                        color:var(--color);
                        height:2rem;
                        border-radius:0.25rem;
                    }

                    input[type="range"] {
                        appearance: none;
                        margin-right: 15px;
                        width: 200px;
                        height: 7px;
                        background: rgba(255, 255, 255, 0.6);
                        border-radius: 5px;
                        background-image: linear-gradient(var(--accent), var(--accent));
                        background-size: 70% 100%;
                        background-repeat: no-repeat;
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            background: var(--accent);
                            box-shadow: 0 0 2px 0 #555;
                            transition: background .3s ease-in-out;
                        }
                      }
                      
                }
            }
        }
    }

    .panel {
        display:none;
    }

    .li-about
    {
        &:hover, &.force-hover
        {
            a {
                top:0;
            }
        }
    }

    .color-picker
    {        
        input {
            height: 2rem;
            border-radius: 0.25rem;
            background: var(--accent);
            color: var(--color);
            border: none;
            width: calc(100% - 0.75rem);
            background-image: unset !important;        
            padding-left: 1rem !important;
        }
    }

    .icon-fenrus {        
        position: relative;
        top:7px;
    }
}


.icon-fenrus {
    background: url('/favicon.svg');
    &:not(.coloured){
        filter: grayscale(1) brightness(12);
    }
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}