#notes-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}
#notes-wrapper .expander {
  position: absolute;
  user-select: none;
  top: 50%;
  transform: translateY(-50%);
  right: -2rem;
  width: 2rem;
  height: 13rem;
  background: rgba(17, 17, 17, 0.9333333333);
  cursor: pointer;
  opacity: 0.75;
}
#notes-wrapper .expander:hover {
  opacity: 1;
}
#notes-wrapper .expander > span {
  transform: rotate(-90deg);
  display: block;
  width: 11rem;
  height: 1.4rem;
  position: absolute;
  left: -63px;
  top: 93px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}
#notes-wrapper .expander > i {
  position: relative;
  top: 0.65rem;
  left: 0.65rem;
}
#notes-wrapper .notes-inner {
  width: 0;
  height: 100%;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  background: rgba(17, 17, 17, 0.9333333333);
  position: relative;
}
#notes-wrapper .notes-inner.nt-media #notes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 240px);
}
#notes-wrapper .notes-inner.nt-media #notes-list .media {
  height: 240px;
}
#notes-wrapper .notes-inner.nt-media #notes-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#notes-wrapper.expanded .expander {
  opacity: 1;
}
#notes-wrapper.expanded .expander > i {
  transform: rotate(-180deg);
}
@media screen and (max-width: 1000px) {
  #notes-wrapper.expanded .notes-inner {
    width: min(90vw, 40rem);
  }
}
@media screen and (min-width: 1000.001px) {
  #notes-wrapper.expanded .notes-inner {
    width: 60rem;
  }
}
#notes-wrapper .btn-new-note {
  position: absolute;
  bottom: 4.5rem;
  right: 1.5rem;
  padding: 1rem;
  border-radius: 51rem;
  background: rgba(var(--accent-rgb), 0.3);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  font-size: 2rem;
  font-weight: 900;
  color: var(--color);
  width: 2rem;
  height: 2rem;
  margin: auto;
  -webkit-text-stroke: 0.5rem var(--color);
}
#notes-wrapper .btn-new-note:hover {
  background: rgba(var(--accent-rgb), 0.7);
  transform: scale(1.1);
}
@-moz-document url-prefix() {
  #notes-wrapper .btn-new-note {
    text-shadow: -1px -1px 0 var(--color), 1px -1px 0 var(--color), -1px 1px 0 var(--color), 1px 1px 0 var(--color), -2px -2px 0 var(--color), 2px -2px 0 var(--color), -2px 2px 0 var(--color), 2px 2px 0 var(--color);
  }
}
#notes-wrapper .btn-new-note i {
  position: relative;
  top: -3px;
  left: 1px;
}
#notes-wrapper .content {
  width: 100%;
  height: calc(100% - 3rem);
  overflow: auto;
}
#notes-wrapper .notes-tabs {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3rem;
  display: flex;
  flex-direction: row;
}
#notes-wrapper .notes-tabs > div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
  opacity: 0.2;
  background: #000;
  user-select: none;
}
@media screen and (max-width: 1000px) {
  #notes-wrapper .notes-tabs > div {
    font-size: 1rem;
  }
}
#notes-wrapper .notes-tabs > div.active {
  opacity: 1;
  background: unset;
}
#notes-wrapper .note {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: solid 1px var(--border-color);
  padding: 0.5rem;
  max-height: 8rem;
  transition: max-height 0.25s ease-in-out;
  overflow: hidden;
  position: relative;
}
#notes-wrapper .note input, #notes-wrapper .note .content-editor {
  padding: 0.5rem;
  width: calc(100% - 3rem);
  outline: none;
  border: solid 1px transparent;
}
#notes-wrapper .note input, #notes-wrapper .note textarea {
  background: transparent;
  color: var(--input-color);
  font-family: sans-serif;
}
#notes-wrapper .note input {
  font-size: 1.2rem;
}
#notes-wrapper .note .content-editor {
  overflow: hidden;
}
#notes-wrapper .note:hover .controls, #notes-wrapper .note:focus-within .controls {
  display: flex;
}
#notes-wrapper .note:focus-within {
  background: var(--input-background);
  max-height: 80vh;
}
#notes-wrapper .note:focus-within .content-editor {
  overflow: auto;
}
#notes-wrapper .note:focus-within .content-editor > div {
  overflow: auto;
}
#notes-wrapper .note .controls {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  flex-direction: column;
  min-height: 7rem;
  width: 2rem;
  font-size: 1.3rem;
  text-align: center;
}
#notes-wrapper .note .controls > i {
  height: 2rem;
  vertical-align: center;
  cursor: pointer;
  opacity: 0.6;
}
#notes-wrapper .note .controls > i:hover {
  opacity: 1;
}
#notes-wrapper .media {
  position: relative;
  transition: opacity 0.25s ease-in-out;
}
#notes-wrapper .media .controls {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  font-size: 2rem;
  display: none;
}
#notes-wrapper .media .controls > i {
  cursor: pointer;
  position: absolute;
}
#notes-wrapper .media .controls .delete {
  left: 0.85rem;
  top: 0.7rem;
  color: rgba(var(--color-rgb), 0.8);
}
#notes-wrapper .media .controls .fa-circle {
  color: rgba(var(--accent-rgb), 0.3);
  font-size: 3.5rem;
}
#notes-wrapper .media .controls:hover .delete {
  color: var(--color);
}
#notes-wrapper .media .controls:hover .fa-circle {
  color: rgba(var(--accent-rgb), 0.7);
}
#notes-wrapper .media:hover .controls {
  display: unset;
}
#notes-wrapper .media:hover {
  opacity: 1;
}
#notes-wrapper #notes-list:hover .media:not(:hover) {
  opacity: 0.2;
}
#notes-wrapper #notes-list:hover:not(:has(:hover)) .media {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .nt-media #notes-list {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 200px) !important;
  }
  .nt-media #notes-list .media {
    height: 200px !important;
  }
}

/*# sourceMappingURL=notes.css.map */
