#notes-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}
#notes-wrapper .view-mode {
  display: none;
}
#notes-wrapper .expander {
  position: absolute;
  user-select: none;
  top: 50%;
  transform: translateY(-50%);
  right: -2rem;
  width: 2rem;
  height: 13rem;
  background: rgba(17, 17, 17, 0.9333333333);
  cursor: pointer;
  opacity: 0.75;
}
#notes-wrapper .expander:hover {
  opacity: 1;
}
#notes-wrapper .expander > span {
  transform: rotate(-90deg);
  display: block;
  width: 11rem;
  height: 1.4rem;
  position: absolute;
  left: -63px;
  top: 93px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}
#notes-wrapper .expander > i {
  position: relative;
  top: 0.65rem;
  left: 0.65rem;
}
#notes-wrapper .notes-inner {
  width: 0;
  height: 100%;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  background: rgba(17, 17, 17, 0.9333333333);
  position: relative;
}
#notes-wrapper.expanded .expander {
  opacity: 1;
}
#notes-wrapper.expanded .expander > i {
  transform: rotate(-180deg);
}
@media screen and (max-width: 1000px) {
  #notes-wrapper.expanded .notes-inner {
    width: min(90vw, 40rem);
  }
}
@media screen and (min-width: 1000.001px) {
  #notes-wrapper.expanded .notes-inner {
    width: 60rem;
  }
}
#notes-wrapper .btn-new-note #notes-add-menu {
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.25s ease-in-out, visibility 0.25s ease-out;
  padding: 0.5rem;
  position: absolute;
  bottom: 8rem;
  right: 1rem;
  overflow: hidden;
  background: black;
  border: solid 1px var(--border-color);
}
#notes-wrapper .btn-new-note #notes-add-menu.visible {
  max-height: 20rem;
  visibility: visible;
}
#notes-wrapper .btn-new-note #notes-add-menu li {
  list-style: none;
  padding: 0.5rem;
  text-transform: uppercase;
  min-width: 10rem;
  cursor: pointer;
}
#notes-wrapper .btn-new-note #notes-add-menu li i {
  margin-right: 0.5rem;
}
#notes-wrapper .btn-new-note #notes-add-menu li:hover {
  background: rgba(var(--accent-rgb), 0.3);
}
#notes-wrapper .btn-new-note #notes-add-menu li.separator {
  cursor: default;
  height: 0;
  border-bottom: solid 1px var(--border-color);
  display: inline-block;
  padding: 0 0.5rem;
  margin: 0;
  position: relative;
  top: -0.25rem;
}
#notes-wrapper .btn-new-note > i {
  position: absolute;
  bottom: 4.5rem;
  right: 1.5rem;
  padding: 1rem;
  border-radius: 51rem;
  background: rgba(var(--accent-rgb), 0.3);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  font-size: 2rem;
  font-weight: 900;
  color: var(--color);
  width: 2rem;
  height: 2rem;
  margin: auto;
  -webkit-text-stroke: 0.5rem var(--color);
}
#notes-wrapper .btn-new-note > i:hover {
  background: rgba(var(--accent-rgb), 0.7);
  transform: scale(1.1);
}
@-moz-document url-prefix() {
  #notes-wrapper .btn-new-note > i {
    text-shadow: -1px -1px 0 var(--color), 1px -1px 0 var(--color), -1px 1px 0 var(--color), 1px 1px 0 var(--color), -2px -2px 0 var(--color), 2px -2px 0 var(--color), -2px 2px 0 var(--color), 2px 2px 0 var(--color);
  }
}
#notes-wrapper .btn-new-note > i::before {
  position: relative;
  left: 1px;
}
#notes-wrapper .content {
  width: 100%;
  height: calc(100% - 6rem);
  overflow: auto;
  padding-top: 3rem;
}
#notes-wrapper .notes-tabs {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3rem;
  display: flex;
  flex-direction: row;
}
#notes-wrapper .notes-tabs > div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
  opacity: 0.2;
  background: #000;
  user-select: none;
}
@media screen and (max-width: 1000px) {
  #notes-wrapper .notes-tabs > div {
    font-size: 1rem;
  }
}
#notes-wrapper .notes-tabs > div.active {
  opacity: 1;
  background: unset;
}
#notes-wrapper .note {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: solid 1px var(--border-color);
  padding: 0.5rem;
  max-height: 8rem;
  transition: max-height 0.25s ease-in-out;
  overflow: hidden;
  position: relative;
}
#notes-wrapper .note input, #notes-wrapper .note .content-editor {
  padding: 0.5rem;
  width: calc(100% - 3rem);
  outline: none;
  border: solid 1px transparent;
}
#notes-wrapper .note input, #notes-wrapper .note textarea {
  background: transparent;
  color: var(--input-color);
  font-family: sans-serif;
}
#notes-wrapper .note input {
  font-size: 1.2rem;
}
#notes-wrapper .note .content-editor {
  overflow: hidden;
}
#notes-wrapper .note:hover .controls, #notes-wrapper .note:focus-within .controls {
  display: flex;
}
#notes-wrapper .note:focus-within {
  background: var(--input-background);
  max-height: 80vh;
}
#notes-wrapper .note:focus-within .content-editor {
  overflow: auto;
}
#notes-wrapper .note:focus-within .content-editor > div {
  overflow: auto;
}
#notes-wrapper .note .controls {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  flex-direction: column;
  min-height: 7rem;
  width: 2rem;
  font-size: 1.3rem;
  text-align: center;
}
#notes-wrapper .note .controls > i {
  height: 2rem;
  vertical-align: center;
  cursor: pointer;
  opacity: 0.6;
}
#notes-wrapper .note .controls > i:hover {
  opacity: 1;
}
#notes-wrapper .media {
  position: relative;
  transition: opacity 0.25s ease-in-out;
}
#notes-wrapper .media .controls {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  font-size: 2rem;
  display: none;
}
#notes-wrapper .media .controls > i {
  cursor: pointer;
  position: absolute;
}
#notes-wrapper .media .controls .delete {
  left: 0.85rem;
  top: 0.7rem;
  color: rgba(var(--color-rgb), 0.8);
}
#notes-wrapper .media .controls .fa-circle {
  color: rgba(var(--accent-rgb), 0.3);
  font-size: 3.5rem;
}
#notes-wrapper .media .controls:hover .delete {
  color: var(--color);
}
#notes-wrapper .media .controls:hover .fa-circle {
  color: rgba(var(--accent-rgb), 0.7);
}
#notes-wrapper .media:hover .controls {
  display: unset;
}
#notes-wrapper .media:hover {
  opacity: 1;
}
#notes-wrapper #notes-list:hover .media:not(:hover) {
  opacity: 0.2;
}
#notes-wrapper #notes-list:hover:not(:has(:hover)) .media {
  opacity: 1;
}

.notes-pane-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(33, 33, 33, 0.9333333333);
  text-align: center;
  z-index: 1;
}
.notes-pane-title > span {
  line-height: 3rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.1rem;
  font-weight: 600;
}

.nt-files .notes-pane-title .notes {
  display: none;
}
.nt-files .notes-pane-title .files {
  display: unset;
}

.notes-inner:not(.nt-files) .notes-pane-title #files-back {
  display: none !important;
}
.notes-inner:not(.nt-files) .notes-pane-title .notes {
  display: unset;
}
.notes-inner:not(.nt-files) .notes-pane-title .files {
  display: none;
}

.nt-files .view-mode {
  display: unset !important;
}

.nt-files .view-mode, #files-back {
  position: absolute;
  top: 0.65rem;
  right: 1rem;
  font-size: 1.5rem;
}
.nt-files .view-mode i, #files-back i {
  margin-left: 0.5rem;
  cursor: pointer;
  opacity: 0.5;
}
.nt-files .view-mode i:hover, #files-back i:hover {
  opacity: 1;
}

#files-back {
  display: none;
  right: unset;
  left: 1rem;
}
#files-back.visible {
  display: unset;
}

.nt-files #notes-list:not(.thumbnail) {
  display: flex;
  flex-direction: column;
}
.nt-files #notes-list:not(.thumbnail) .file {
  height: 4rem;
  min-height: 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  background: rgba(var(--color-rgb), 0.05);
  font-size: 1.3rem;
  line-height: 100%;
  position: relative;
}
.nt-files #notes-list:not(.thumbnail) .file .enter {
  display: none;
}
.nt-files #notes-list:not(.thumbnail) .file.folder .download {
  display: none;
}
.nt-files #notes-list:not(.thumbnail) .file.folder .enter {
  display: unset;
}
.nt-files #notes-list:not(.thumbnail) .file.folder .enter, .nt-files #notes-list:not(.thumbnail) .file .download {
  position: absolute;
  right: 1.5rem;
  top: 1.65rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.nt-files #notes-list:not(.thumbnail) .file:hover {
  background: rgba(var(--color-rgb), 0.2);
}
.nt-files #notes-list:not(.thumbnail) .file .check {
  margin-right: 1rem;
  margin-top: 1rem;
}
.nt-files #notes-list:not(.thumbnail) .file .icon {
  width: 8rem;
  height: 100%;
  margin-right: 1rem;
  font-size: 4rem;
  text-align: center;
}
.nt-files #notes-list:not(.thumbnail) .file .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nt-files #notes-list:not(.thumbnail) .file .name {
  flex-grow: 1;
}
.nt-files #notes-list:not(.thumbnail) .file .name, .nt-files #notes-list:not(.thumbnail) .file .size {
  display: flex;
  align-items: center;
}
.nt-files #notes-list:not(.thumbnail) .file .size {
  width: 12rem;
  justify-content: right;
  padding-right: 4rem;
}

.nt-files #notes-list.thumbnail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 240px);
  position: relative;
  transition: opacity 0.25s ease-in-out;
}
.nt-files #notes-list.thumbnail .check {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.nt-files #notes-list.thumbnail .file {
  height: 240px;
  position: relative;
}
.nt-files #notes-list.thumbnail .size {
  display: none;
}
.nt-files #notes-list.thumbnail .file.no-img .icon {
  background: #222;
}
.nt-files #notes-list.thumbnail .file.no-img .name {
  display: unset !important;
}
.nt-files #notes-list.thumbnail .enter {
  display: none;
}
.nt-files #notes-list.thumbnail .file.folder {
  cursor: pointer;
}
.nt-files #notes-list.thumbnail .file.folder .enter {
  display: unset;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}
.nt-files #notes-list.thumbnail .file.folder .download {
  display: none;
}
.nt-files #notes-list.thumbnail .name {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 2rem;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.nt-files #notes-list.thumbnail .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nt-files #notes-list.thumbnail .icon, .nt-files #notes-list.thumbnail img {
  width: 100%;
  height: 100%;
}
.nt-files #notes-list.thumbnail .icon i {
  font-size: 10rem;
}
.nt-files #notes-list.thumbnail img {
  object-fit: cover;
}
.nt-files #notes-list.thumbnail .controls {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  font-size: 2rem;
  display: none;
}
.nt-files #notes-list.thumbnail .controls > i {
  cursor: pointer;
  position: absolute;
}
.nt-files #notes-list.thumbnail .controls .delete {
  left: 0.85rem;
  top: 0.7rem;
  color: rgba(var(--color-rgb), 0.8);
}
.nt-files #notes-list.thumbnail .controls .fa-circle {
  color: rgba(var(--accent-rgb), 0.3);
  font-size: 3.5rem;
}
.nt-files #notes-list.thumbnail .controls:hover .delete {
  color: var(--color);
}
.nt-files #notes-list.thumbnail .controls:hover .fa-circle {
  color: rgba(var(--accent-rgb), 0.7);
}
.nt-files #notes-list.thumbnail .download {
  display: none;
}
.nt-files #notes-list.thumbnail:hover .controls {
  display: unset;
}
.nt-files #notes-list.thumbnail .file:hover {
  opacity: 1;
}
.nt-files #notes-list.thumbnail .file:hover .name {
  display: unset;
}
.nt-files #notes-list.thumbnail .file:hover .download {
  position: absolute;
  font-size: 1rem;
  cursor: pointer;
  right: 0.75rem;
  bottom: 0.25rem;
  display: unset;
}
.nt-files #notes-list.thumbnail:hover .file:not(:hover) {
  opacity: 0.2;
}
.nt-files #notes-list.thumbnail:hover:not(:has(:hover)) .file {
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  .nt-files #notes-list.thumbnail {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 200px) !important;
  }
  .nt-files #notes-list.thumbnail .file {
    height: 200px !important;
  }
}

/*# sourceMappingURL=notes.css.map */
