@use 'toast';

.main-content{
    display: flex;
    overflow: auto;
    > div {    
        margin:auto;
    }
}


input[type=text], input[type=password], input[type=number], select {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    background: var(--input-background);
    border: solid 1px var(--input-border);
    color: var(--input-color);

    &:focus {
        outline: solid 1px var(--accent);
    }
}

select {
    width: 100%;
}

.settings-box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;

    form {
        width: 100%;
    }

    .items-header {
        margin-top: 3rem;
    }

    .group-list {
        border-top: solid 1px var(--border-color);
    }

    .setting {
        display: flex;
        flex-direction: row;
        padding: 1rem;

        .label {
            width: 16rem;
            min-width: 16rem;
            margin: 0.5rem 0 0;
        }

        .value {
            flex-grow: 1;
            &.padtop {
                margin:0.5rem 0 0;
            }
            a {
                color:var(--color);
            }            
            ul:not(.livestats) {
                margin:0;
                padding:0;
                list-style: none;
                li + li {
                    margin-top:0.75rem;
                }
            }
        }
    }


    h2 {
        margin: 0;
    }

    .header {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;

        + * {
            border-top: solid 1px var(--border-color);
        }

        .title {
            font-size: 1.5rem;
            flex-grow: 1;
            margin: auto;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            text-align: right;

            * + * {
                margin-left: 0.25rem;
            }
        }
    }

    td {
        padding: 0.5rem;
    }

    tbody td {
        border-bottom: solid 1px var(---border-color);
    }

    table {
        width: 100%;

        tr > td {
            width: min(30%, 10rem);
        }
    }

    .color-picker input {
        width:calc(100% - 1rem - 40px) !important;
    }

    ul:not(.value-list):not(.livestats) {
        margin: 0;
        padding: 0;

        > li {
            list-style: none;
            padding: 1rem;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            flex-direction: row;

            .name {
                flex-grow: 1;
                white-space: nowrap;
            }
            .icon-sort + .name {
                margin-left:1rem;
            }

            .url {
                width: min(21rem, 40vw);
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .enabled {
                width:6rem;
                min-width: 6rem;
                max-width: 6rem;
            }

            .items {
                width: 14rem;
                text-align: center;
            }

            .controls {
                text-align: right;
                white-space: nowrap;

                a, span {
                    margin-left: 0.5rem;
                    cursor: pointer;
                    color: white;
                    opacity: 0.7;
                    text-decoration:none !important;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &.over {
                border: 3px dotted #666;
            }
        }

        .mover {
            cursor: move;
            margin-right: 0.5rem;
        }
    }

    button.invalid {
        background: var(--error);
        color: var(--color);
    }

    .invalid {
        border: solid 1px var(--error) !important;

        &:after {
            content: url(' ');
            display: block;
            float: left;
            margin-right: 5px;
            position: relative;
            bottom: 2px;
        }
    }

    .item-icon-picker {
        .db-item {
            margin-bottom:1rem;
        }
    }
}


#file-chooser-btn {
    display: block;
}


.modal-background{
    background:rgba(0,0,0,.6);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
}
.modal {
    z-index:101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal, .modal-box {
    display: flex;
    flex-direction: column;
    width:min(70vw, 36rem);
    background: rgba(0,0,0,0.7);
    border: solid 1px var(--border-color);
}

.modal-title {
    font-size:1.5rem;
    border-bottom:solid 1px var(--border-color);
    padding:1rem 2rem;
}
.modal-body {
    padding:1rem 2rem;
    margin:2rem 0;
}
.modal-buttons {
    padding:1rem 2rem;
    display:flex;
    flex-direction: row;
    justify-content: end;
    button {
        + button {
            margin-left:1rem;
        }
    }
}

.background-picker 
{
    .image-preview {
        width:min(300px, 50vw, 50vh);
        height:auto;
        margin-bottom:1rem;
    }
    .buttons {
        display:flex;
        flex-direction: row;
        .btn + .btn {
            margin-left:1rem;
        }
    }
}

.user-list {
    .list-header {
        font-weight: bold;
    }
    .controls {
        width:10rem;
        position: unset !important;
    }
    .is-admin {
        width:8rem;
        text-align: center;
    }
}
.contains-toggle li {
    span {
        margin:auto;
    }
    .controls {
        position: relative;
        top:0.15rem;
    }
}

.group-list {
    .no-items {
        width:8rem;
    }
    .enabled {
        width:6rem;
        text-align: center;        
    }
    .controls {
        width:4rem;
    }
}

.search-engine-list
{
    .enabled, .default {
        width:8rem;
        text-align: center;
    }
    .controls {
        width:4rem;
    }
}

a.subpage{
    text-decoration: none;    
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    place-items: center;
    
    border: solid 2px white;
    border-radius: 1rem;
    float:right;
    cursor:pointer;
    span {
        margin:auto;
        position: relative;
        top:1px;
        left:1px;
    }
}
.help-text 
{
    padding-top: 0.5rem;
    display: block;
    font-style: italic;
    color: var(--color-darkest);
    font-size:0.9rem;
}


.settings-outer {
    display:flex;
    flex-direction: row;
    width:100%;
    height: 100%;
    background:var(--base);
}

.settings-menu {
    width:250px;    
    min-width: 250px;
    background-color: rgba(var(--base-rgb), 0.15);
    border-right: 1px solid rgba(255,255,255,.05);
    display: flex;
    flex-direction: column;
    .logo {
        margin:1.5rem 1rem 1rem 2rem;
        display: flex;
        place-items: center;
        img {
            width:2.5rem;
            margin-right:0.5rem;
        }
        .title {            
            font-size: 1.75rem;
            font-weight: 600;
            color: #ff0090;
            font-style: italic;
        }
    }
    .version-info {
        height: 3rem;
        text-align: center;
        color: rgba(var(--color-rgb),.4);
        font-size: 1.15rem;
    }
    .group {
        margin-top:2rem;
        text-transform: uppercase;        
        padding-left:0.75rem;
        margin-bottom:0.5rem;
    }
    ul {
        list-style: none;
        margin:0;
        padding:0;
        flex-grow:1;
    }
    li {
        border-left: solid 0.5rem transparent;        
        &:not(.group):hover {
            background:rgba(var(--accent-rgb), 0.2);
        }
        &.active {
            background-color: rgba(var(--accent-rgb), 0.3);
            border-color: var(--accent);      
        }
    }
    a {
        color:var(--color);
        text-decoration: none;
        padding:1rem;
        display: block;
        height: 1.25rem;
        display: flex;
        place-items: center;
        padding-left: 2rem;
    }
    span[class^="icon-"] {
        font-size:1.5rem;
        width:2rem;
        text-align: center;
        display: block;
        margin-right:0.5rem;
    }
}

.settings-content {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    > div {
        display:flex;
        flex-direction: column;
        height: 100vh;
    }
    .top-row {        
        height: 3.5rem;
        min-height: 3.5rem;
        display: flex !important;
        padding: 0 1.5rem;
        align-items: center;    
        input[type=text] {
            width: calc(100% - 1rem);
            padding: 7px 0 3px;
            margin-left:0.5rem;
            background: transparent;
            border:none;
            font-size:1em;
            border-bottom: solid 1px var(--accent);
            
            color: var(--input-color);

            &:focus {
                outline: none;
            }
        }
        .title 
        {   
            span[class^="icon-"] {   
                color: var(--accent);
                font-size:1.5rem;
                margin-right:0.5rem;
            }    
            align-items: center;
            font-size: 1.15rem;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: flex;
            width:100%;
        }
        .buttons {            
            white-space: nowrap;
            margin-left: 1rem;
            margin-right: -0.5rem;
        }
    }

    .list {
        margin:2rem;
    }
}

.list-toolbar {
    display: flex;
    flex-direction: row;
    margin:0.5rem;
    > span, a {
        text-decoration: none;
        cursor: pointer;
        color:rgba(var(--color-rgb), 0.8);
        text-transform: uppercase;
        span[class^="icon-"]
        {
            margin-right:0.25rem;
        }        
        &:hover {
            color:var(--color);
        }
    }
}


table {
    border: solid 1px var(--input-background);
    padding:0;
    margin:0;
    width:100%;
    border-collapse: collapse;
    thead th {            
        font-weight: 600;
        background: rgba(var(--input-background-rgb), 0.3);
        border:none;
        border-bottom: solid 1px var(--input-background);
        text-align: left;
        height: 2.2rem;
        line-height: 2.2rem;
    }
    tr > :first-child {
        padding-left:1rem;
    }
    td {
        height: 3rem;
        line-height: 3rem;
    }
    .name {
        a {
            color:var(--color);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .enabled {
        width:8rem;
        text-align: center;
        label {            
            position: relative;
            top: -2px;
        }
    }
    .controls {
        width:8rem;
        text-align: right;
        [class^="icon-"] {
            color:var(--color);
            text-decoration: none;
            padding-top:3px;
            font-size:1.5rem;
            margin-right:0.5rem;
            cursor:pointer;
            position: relative;
            top:0.35rem;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }       
    }    
}

.modal-wrapper {
    display:none;
    &.visible {
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        z-index:100;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background: rgba(0,0,0,0.4);
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        > * + * {
            margin-top:0.5rem;
        }
    }
}

#add-group-item{
    margin-right: 1rem;
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    transform: scale(1.5);
    z-index:3;
}

.side-edior-background {
    position:fixed;
    z-index:4;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:rgba(var(--base-rgb), 0.8);
}

.side-editor {
    position:fixed;
    display: flex;
    top:0;
    bottom:0;
    right:0;
    width:min(700px, 70vw);
    background: var(--base-darker);
    z-index:5;
    padding:2px 0.5rem;
}

.preview-dashboard {
    overflow: auto;
    .db-item {
        .actions {
            display:none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            background: rgba(0,0,0,0.7);
            span {
                font-size:1.5rem;
                margin:0.5rem;
                cursor:pointer;
            }
        }
        &:hover {
            .actions {
                display: flex;
            }
        }
    }
}