#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 2000;
  left: 50%;
  top: 30px;
  font-size: 17px;
}
#toast.success {
  background-color: green;
}
#toast.failure {
  background-color: red;
}
#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
.btn {
  text-decoration: none;
  color: var(--button-color, var(--color, #fff));
  background: var(--button-background, transparent);
  border: solid 1px var(--border-color, var(--color, rgba(255, 255, 255, 0.3)));
  border-radius: 0.1rem;
  text-align: center;
  padding: 0.5rem 0;
  text-transform: uppercase;
  width: 8rem;
  cursor: pointer;
}
.btn:hover {
  background: var(--accent, #ff0090);
  color: var(--color, #fff);
}
.btn:disabled {
  cursor: not-allowed;
}

a.btn {
  width: calc(8rem - 2px);
}

.main-content {
  flex-direction: column;
}

.settings-box {
  width: min(700px, 70vw);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 auto 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.settings-box form {
  width: 100%;
}
.settings-box .items-header {
  margin-top: 3rem;
}
.settings-box .group-list {
  border-top: solid 1px var(--border-color);
}
.settings-box .setting {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-top: solid 1px var(--border-color);
}
.settings-box .setting .label {
  width: 16rem;
  margin: 0.5rem 0 0;
}
.settings-box .setting .value {
  flex-grow: 1;
}
.settings-box .setting .value.padtop {
  margin: 0.5rem 0 0;
}
.settings-box .setting .value a {
  color: var(--color);
}
.settings-box .setting .value ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.settings-box .setting .value ul li + li {
  margin-top: 0.75rem;
}
.settings-box h2 {
  margin: 0;
}
.settings-box .header {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.settings-box .header + * {
  border-top: solid 1px var(--border-color);
}
.settings-box .header .title {
  font-size: 1.5rem;
  flex-grow: 1;
  margin: auto;
}
.settings-box .header .buttons {
  display: flex;
  flex-direction: row;
  text-align: right;
}
.settings-box .header .buttons * + * {
  margin-left: 1rem;
}
.settings-box td {
  padding: 0.5rem;
}
.settings-box tbody td {
  border-bottom: solid 1px var(---border-color);
}
.settings-box table {
  width: 100%;
}
.settings-box table tr > td {
  width: min(30%, 10rem);
}
.settings-box .color-picker input {
  width: calc(100% - 1rem - 40px) !important;
}
.settings-box input[type=text], .settings-box input[type=password], .settings-box input[type=number], .settings-box select {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background: var(--input-background);
  border: solid 1px var(--input-border);
  color: var(--input-color);
}
.settings-box input[type=text]:focus, .settings-box input[type=password]:focus, .settings-box input[type=number]:focus, .settings-box select:focus {
  outline: solid 1px var(--accent);
}
.settings-box select {
  width: 100%;
}
.settings-box ul:not(.value-list) {
  margin: 0;
  padding: 0;
}
.settings-box ul:not(.value-list) > li {
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
}
.settings-box ul:not(.value-list) > li .name {
  flex-grow: 1;
}
.settings-box ul:not(.value-list) > li .icon-sort + .name {
  margin-left: 1rem;
}
.settings-box ul:not(.value-list) > li .url {
  width: min(28rem, 40vw);
  text-align: left;
}
.settings-box ul:not(.value-list) > li .items {
  width: 14rem;
  text-align: center;
}
.settings-box ul:not(.value-list) > li .controls {
  text-align: right;
}
.settings-box ul:not(.value-list) > li .controls a, .settings-box ul:not(.value-list) > li .controls span {
  margin-left: 0.5rem;
  cursor: pointer;
  color: white;
  opacity: 0.7;
  text-decoration: none !important;
}
.settings-box ul:not(.value-list) > li .controls a:hover, .settings-box ul:not(.value-list) > li .controls span:hover {
  opacity: 1;
}
.settings-box ul:not(.value-list) > li.over {
  border: 3px dotted #666;
}
.settings-box ul:not(.value-list) .mover {
  cursor: move;
  margin-right: 0.5rem;
}
.settings-box button.invalid {
  background: var(--error);
  color: var(--color);
}
.settings-box .invalid {
  border: solid 1px var(--error) !important;
}
.settings-box .invalid:after {
  content: url(" ");
  display: block;
  float: left;
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}
.settings-box .icon-picker img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

#file-chooser-btn {
  display: block;
}

.modal-background {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.modal {
  z-index: 101;
  display: flex;
  flex-direction: column;
  width: min(70vw, 36rem);
  background: rgba(0, 0, 0, 0.7);
  border: solid 1px var(--border-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal-title {
  font-size: 1.5rem;
  border-bottom: solid 1px var(--border-color);
  padding: 1rem 2rem;
}
.modal .modal-message {
  padding: 1rem 2rem;
  margin: 2rem 0;
}
.modal .modal-buttons {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.modal .modal-buttons button + button {
  margin-left: 1rem;
}

.background-picker .image-preview {
  width: min(300px, 50vw, 50vh);
  height: auto;
  margin-bottom: 1rem;
}
.background-picker .buttons {
  display: flex;
  flex-direction: row;
}
.background-picker .buttons .btn + .btn {
  margin-left: 1rem;
}

.user-list .list-header {
  font-weight: bold;
}
.user-list .controls {
  width: 10rem;
  position: unset !important;
}
.user-list .is-admin {
  width: 8rem;
  text-align: center;
}

.contains-toggle li span {
  margin: auto;
}
.contains-toggle li .controls {
  position: relative;
  top: 0.15rem;
}

.group-list .no-items {
  width: 8rem;
}
.group-list .enabled {
  width: 6rem;
  text-align: center;
}
.group-list .controls {
  width: 4rem;
}