@use 'fonticons';
@use 'carousel';
@use 'toggle-switchy';
@use 'button';
@use 'main-menu';
@use 'scroller';
@use 'apps';

html {
    font-size: 14px;
    font-family:sans-serif;
    position: relative;
    min-height: 100%;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Regular.woff") format("woff");
}
body {
    /* variables */
    --color-rgb: 240,240,240;
    --color: rgb(var(--color-rgb));
    --color-darkest: rgb(160, 160, 160);
    --color-secondary-rgb: 170,170,170;
    --color-secondary: rgb(var(--color-secondary-rgb));
    --input-background-rgb: 49, 49, 49;
    --input-background: rgb(var(--input-background-rgb));
    --input-border: rgba(50,50,50);
    --input-color: white;
    --error-rgb: 255,0,0;
    --error: rgb(var(--error-rgb));
    
    --base: rgb(17, 18, 20);
    --base-rgb: 7, 18, 20;
    --base-darker: rgb(6, 17, 19);
    --base-darker-rgb: 6, 17, 19;

    --border-color: rgba(var(--color-rgb), 0.3);
    --input-border: var(---border-color);
    --button-color:var(--color);
    --button-background:transparent;

    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

body {
    margin:0;
    padding:0;
    color:var(--color);
    display:flex;
    flex-direction: column;
    overflow:hidden;
    height:100vh;
    width:100vw;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
}

.main-content {
    flex-grow:1;
    justify-content: center;
    display: flex;
    max-height:100%;
    max-width:100%;
    height:100%;
    width:100%;
    position: relative;
}

.dashboard {
    position: absolute;    
    height:100%;
    overflow: auto;
}

.no-dashboard {
    text-transform: lowercase;
    padding:2rem;
    background:rgba(0,0,0,0.4);
    color:white;
    border:solid 1px rgba(255,255,255,0.3);
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:2rem;
    border-radius:2rem;
}

option {
    /* need so our styles dont make these imposssible to read */
    color: white;
    background: #222;
}

.db-link {
    text-decoration: unset;
}

.db-item {
    .carousel {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    .fill {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }  
}
.db-item.db-dashboard {
    cursor:pointer;
}


.hide-group-titles .db-group > .title {
    display:none;
}

.search {    
    text-align: center;
    margin:1rem;
    .search-inner {
        border:solid 1px rgba(255,255,255,.15);
        height:3rem;
        display:flex;
        flex-direction: row;
        border-radius:0.5rem;
        overflow: hidden;
        width:min(90vw, 50rem);
        @media screen and (max-width:600px){
            width:100%;
        }
        margin:auto;
        > * {
            background:rgba(0,0,0,.8);
        }
        &:focus-within {
            opacity:1;
        }
        input {
            flex-grow:1;
            outline:none;
            border:none;
            font-size:1.5rem;
            border-left:solid 1px black;
            border-right:solid 1px black;
            padding:0 0.5rem;
            color:var(--color);
            max-width: calc(100% - 9.5rem);
        }
        button {
            border:none;
            border-left:solid 1px rgba(255,255,255,.15);
            font-size:1.3rem;
            text-transform: uppercase;
            padding:0 1rem;
            background:rgba(0,0,0,.8);
            color:var(--color);            
            &:hover {
                background:var(--accent);
                color:var(--color);
                cursor:pointer;
            }
            @media screen and (max-width:600px){
                font-size:0.8rem;
            }
        }
    }
}

.app-chart {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

#dashboard-name {
    position: fixed;
    top: 1rem;
    left: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}