@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?d1vm3p");
  src: url("/fonts/icomoon.eot?d1vm3p#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?d1vm3p") format("truetype"), url("/fonts/icomoon.woff?d1vm3p") format("woff"), url("/fonts/icomoon.svg?d1vm3p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user1:before {
  content: "";
}

.icon-th-large:before {
  content: "";
}

.icon-trash:before {
  content: "";
}

.icon-home1:before {
  content: "";
}

.icon-download1:before {
  content: "";
}

.icon-repeat:before {
  content: "";
}

.icon-rotate-right:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-image1:before {
  content: "";
}

.icon-photo1:before {
  content: "";
}

.icon-picture-o1:before {
  content: "";
}

.icon-pencil1:before {
  content: "";
}

.icon-tint:before {
  content: "";
}

.icon-share-square-o:before {
  content: "";
}

.icon-arrows:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-expand:before {
  content: "";
}

.icon-compress:before {
  content: "";
}

.icon-bar-chart:before {
  content: "";
}

.icon-bar-chart-o:before {
  content: "";
}

.icon-cogs:before {
  content: "";
}

.icon-gears:before {
  content: "";
}

.icon-sign-out:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-bell-o:before {
  content: "";
}

.icon-globe:before {
  content: "";
}

.icon-group:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-bars:before {
  content: "";
}

.icon-navicon:before {
  content: "";
}

.icon-reorder:before {
  content: "";
}

.icon-caret-left:before {
  content: "";
}

.icon-caret-right:before {
  content: "";
}

.icon-sort:before {
  content: "";
}

.icon-unsorted:before {
  content: "";
}

.icon-dashboard:before {
  content: "";
}

.icon-tachometer:before {
  content: "";
}

.icon-sitemap:before {
  content: "";
}

.icon-puzzle-piece:before {
  content: "";
}

.icon-sliders:before {
  content: "";
}

.icon-paint-brush:before {
  content: "";
}

.icon-user-circle:before {
  content: "";
}

.icon-user-circle-o:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-question:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-th-list:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-remove:before {
  content: "";
}

.icon-times:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-gear:before {
  content: "";
}

.icon-trash-o:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-inbox:before {
  content: "";
}

.icon-image:before {
  content: "";
}

.icon-photo:before {
  content: "";
}

.icon-picture-o:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-pencil-square-o:before {
  content: "";
}

.carousel {
  display: flex;
  flex-direction: row;
}
.carousel .item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.carousel .controls {
  position: absolute;
  bottom: 3px;
  padding: 0.5rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 8rem);
  text-align: center;
  z-index: 5;
}
.carousel .controls a {
  display: inline-block;
  background-color: var(--color);
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: middle;
  margin: 0 0.25rem;
  opacity: 0.7;
}
.carousel .controls a:hover {
  opacity: 0.9;
}
.carousel .controls a.selected {
  background-color: var(--accent);
}
.carousel .item {
  z-index: 0;
  display: none;
}
.carousel .item.hidden {
  z-index: 2;
  display: unset;
}
.carousel .item.visible {
  display: unset;
  opacity: 1;
  z-index: 3;
}
.carousel .item.visible:not(.initial) {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.db-item.small .carousel, .db-item.medium .carousel {
  display: none;
}

.carousel .inner > .icon {
  display: none;
}
.carousel .app-icon {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}
.carousel .app-icon img {
  width: 3rem;
  height: 3rem;
}
.carousel .cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.carousel .tl, .carousel .tr, .carousel .br, .carousel .bl {
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  position: absolute;
  color: var(--color);
}
.carousel .tr, .carousel .br {
  text-align: right;
}
.carousel .tr {
  top: 0;
  right: 0;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carousel .br {
  bottom: 0;
  right: 0;
}
.carousel .bl {
  bottom: 0;
  left: 0;
}
.carousel .discount {
  color: #00eb00;
}
.carousel .discount .down-icon {
  transform: rotate(-90deg);
  display: inline-block;
}

/*
Project:	Toggle Switchy
Version:	1.14
Updated:	8/20/2020
Author:		Adam Culpepper | @adamculpepper
Website:	https://toggleswitchy.com
Docs:		https://github.com/adamculpepper/toggle-switchy
Issues:		https://github.com/adamculpepper/toggle-switchy/issues
Releases:	https://github.com/adamculpepper/toggle-switchy/releases
*/
/* Customizable styles */
/* Colors: Default (blue) */
.toggle-switchy {
  color: var(--color);
}

.toggle-switchy > input + .toggle:before {
  content: "ON";
}

.toggle-switchy > input + .toggle:after {
  content: "OFF";
}

.toggle-switchy > input + .toggle > .switch {
  background: #fff;
}

.toggle-switchy > input + .toggle + .label {
  color: #000;
}

.toggle-switchy > input:checked + .toggle {
  background: var(--accent);
}

.toggle-switchy > input:not(:checked) + .toggle {
  background: #ccc;
}

.toggle-switchy > input:checked + .toggle > .switch {
  border: 3px solid var(--accent);
}

.toggle-switchy > input:not(:checked) + .toggle > .switch {
  border: 3px solid #ccc;
}

.toggle-switchy > input:focus + .toggle,
.toggle-switchy > input:active + .toggle {
  box-shadow: 0 0 5px 3px rgba(0, 119, 200, 0.5);
}

/* Rounded switch corners */
.toggle-switchy > input + .toggle {
  border-radius: 4px;
}

.toggle-switchy > input + .toggle .switch {
  border-radius: 6px;
}

/* //////////////////////////
CORE STYLES BELOW - NO TOUCHY
////////////////////////// */
.toggle-switchy {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
  vertical-align: middle;
  margin-bottom: 0;
}

.toggle-switchy:hover {
  cursor: pointer;
}

.toggle-switchy > input {
  position: absolute;
  opacity: 0;
}

.toggle-switchy > input + .toggle {
  align-items: center;
  position: relative;
}

.toggle-switchy > input + .toggle {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.toggle-switchy > input[disabled] + .toggle {
  opacity: 0.5;
}

.toggle-switchy > input[disabled] + .toggle:hover {
  cursor: not-allowed;
}

.toggle-switchy > input + .toggle {
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.toggle-switchy > input + .toggle > .switch {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 3;
  box-sizing: border-box;
}

/* Labels */
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  height: 100%;
}

.toggle-switchy > input + .toggle:before {
  right: 55%;
}

.toggle-switchy > input + .toggle:after {
  left: 50%;
}

.toggle-switchy > input + .toggle + .label {
  margin-left: 10px;
}

.toggle-switchy[data-label=left] > input + .toggle {
  order: 2;
}

.toggle-switchy[data-label=left] > input + .toggle + .label {
  order: 1;
  margin-left: 0;
  margin-right: 10px;
}

/* Show / Hide */
.toggle-switchy > input + .toggle:before {
  opacity: 0;
}

.toggle-switchy > input:checked + .toggle:before {
  opacity: 1;
}

.toggle-switchy > input:checked + .toggle:after {
  opacity: 0;
}

/* Transitions */
.toggle-switchy > input + .toggle {
  transition: background 200ms linear, box-shadow 200ms linear;
}

.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {
  transition: all 200ms linear;
}

.toggle-switchy > input + .toggle > .switch {
  transition: right 200ms linear, border-color 200ms linear;
}

/* //////////////////////////
CORE STYLES ABOVE - NO TOUCHY
////////////////////////// */
/* Size: Default (Medium) */
.toggle-switchy > input + .toggle {
  width: 65px;
  height: 30px;
}

.toggle-switchy > input + .toggle > .switch {
  width: 30px;
}

.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {
  font-size: 0.8rem;
}

.toggle-switchy > input:not(:checked) + .toggle > .switch {
  right: calc(100% - 30px);
}

/* Text: Off */
.toggle-switchy[data-text=false] > input + .toggle:before,
.toggle-switchy[data-text=false] > input + .toggle:after {
  content: "";
}

.toggle-switchy[data-text=false][data-size=xl] > input + .toggle {
  width: 80px;
}

.toggle-switchy[data-text=false][data-size=lg] > input + .toggle {
  width: 70px;
}

.toggle-switchy[data-text=false] > input + .toggle {
  width: 60px;
}

.toggle-switchy[data-text=false][data-size=sm] > input + .toggle {
  width: 50px;
}

.toggle-switchy[data-text=false][data-size=xs] > input + .toggle {
  width: 40px;
}

.btn {
  text-decoration: none;
  color: var(--button-color, var(--color, #fff));
  background: var(--button-background, transparent);
  border: solid 1px var(--border-color, var(--color, rgba(255, 255, 255, 0.3)));
  border-radius: 0.1rem;
  text-align: center;
  padding: 0.5rem 0;
  text-transform: uppercase;
  width: 8rem;
  cursor: pointer;
}
.btn:hover {
  background: var(--accent, #ff0090);
  color: var(--color, #fff);
}
.btn:disabled {
  cursor: not-allowed;
}

a.btn {
  width: calc(8rem - 2px);
}

html {
  font-size: 14px;
  font-family: sans-serif;
  position: relative;
  min-height: 100%;
}

body {
  /* variables */
  --color-rgb: 240,240,240;
  --color: rgb(var(--color-rgb));
  --color-secondary-rgb: 170,170,170;
  --color-secondary: rgb(var(--color-secondary-rgb));
  --input-background: rgb(0,0,0,0.75);
  --input-border: rgba(50,50,50);
  --input-color: white;
  --error-rgb: 255,0,0;
  --error: rgb(var(--error-rgb));
  --border-color: rgba(var(--color-rgb), 0.3);
  --input-border: var(---border-color);
  --button-color:var(--color);
  --button-background:transparent;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color);
}

.main-content {
  min-height: calc(100vh - 4rem);
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  justify-content: center;
  padding: 2rem 3rem;
  display: flex;
}

.no-dashboard {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2rem;
  border-radius: 2rem;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: row;
}
.main-menu a:not(.btn) {
  color: var(--color);
  text-decoration: none !important;
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 3.5rem;
  transition: transform 0.2s;
}
.main-menu .btn {
  transform: scale(1) !important;
}
.main-menu .logout.has-settings {
  padding-left: 8rem;
}
.main-menu li {
  width: 3.5rem;
  height: 3.5rem;
  justify-content: center center;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  margin: 1px;
  justify-content: center;
  position: relative;
}
.main-menu li:hover {
  background-color: var(--accent);
}
.main-menu li:hover a {
  transform: scale(1.4);
  position: relative;
  top: 3px;
}
.main-menu li:hover .panel {
  display: flex;
  flex-direction: column;
  background: #000001;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 3.75rem;
  font-size: 1rem;
  z-index: 10;
}
.main-menu li:hover .panel.groups .setting .value {
  min-width: unset;
}
.main-menu li:hover .panel .setting {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-menu li:hover .panel .setting .label {
  width: 8rem;
}
.main-menu li:hover .panel .setting + .setting {
  margin-top: 1rem;
}
.main-menu li:hover .panel .setting.integer .value {
  display: flex;
  flex-direction: row;
  place-items: center;
}
.main-menu li:hover .panel .setting.integer .value .range-value {
  width: 2rem;
  margin: auto;
  background: var(--accent);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
.main-menu li:hover .panel .setting .value {
  flex-grow: 1;
  min-width: 10rem;
}
.main-menu li:hover .panel .setting select {
  width: 100%;
  background: var(--accent);
  border-color: var(--accent);
  color: var(--color);
  height: 2rem;
  border-radius: 0.25rem;
}
.main-menu li:hover .panel .setting input[type=range] {
  appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-size: 70% 100%;
  background-repeat: no-repeat;
}
.main-menu li:hover .panel .setting input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--accent);
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}
.main-menu .panel {
  display: none;
}
.main-menu .li-about:hover a {
  top: 0;
}
.main-menu .icon-fenrus {
  background: url("/favicon.svg");
  filter: grayscale(1) brightness(12);
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 7px;
}

option {
  /* need so our styles dont make these imposssible to read */
  color: white;
  background: #222;
}

.theme-picker {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.db-link {
  text-decoration: unset;
}

.db-item .carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.db-item .fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hide-group-titles .db-group > .title {
  display: none;
}