.body-content {
  max-width:60rem;
  .btn {
    margin-left:15rem;
  }
  .error {
    margin-left:15rem;
    margin-top:1rem;
    color:var(--error);
  }
}
h3 {
  i {
    color:var(--accent);
    margin-right:0.5rem;
  }
  font-size: 1.25rem;
  font-weight: normal;
  margin-left: 0rem;
  margin-top: 4rem;
  border-bottom: solid 1px var(--accent);
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
}

.buttons {
  margin-left:15rem;
  button {
    margin:0 0.5rem 0 0 !important;
  }
}

.page-description {
  margin-bottom:1rem;
}