.body-content {
  max-width:60rem;
  .btn {
    margin-left:15rem;
  }
  .error {
    margin-left:15rem;
    margin-top:1rem;
    color:var(--error);
  }
}
h3 {
  i {
    color:var(--accent);
    margin-right:0.5rem;
  }
  font-size: 1.25rem;
  font-weight: normal;
  margin-left: 0rem;
  margin-top: 4rem;
  border-bottom: solid 1px var(--accent);
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
}

.buttons {
  margin:1rem 0 0 15rem;
  button {
    margin:0 0.5rem 0 0 !important;
  }
}

.page-description {
  margin-bottom:1rem;
}

.apps ::deep 
{
  .app-group
  {
    .title {
      display: flex;
      flex-direction: row;

      input[type=text] {
        flex-grow: 1;
      }

      .app-group-buttons {
        display: flex;
        flex-direction: row;

        i {
          width: 1.2rem;
          cursor: pointer;
          font-size: 0.9rem;
          border: solid 1px var(--accent);
          border-radius: 0.5rem;
          padding: 0.5rem;
          text-align: center;
          color: var(--color);
          margin: 0.2rem;

          &:hover {
            background: var(--accent);
          }
        }
      }
    }
    .app {
      display: inline-block;
      .app-inner {
        text-align: center;
        width: 5rem;
        margin: 0.75rem;
        height: 6.5rem;
        overflow: hidden;
        position: relative;
      }
      img {
        display:block;
        height:4rem;
        border-radius:0.5rem;
        width: calc(100% - 0.5rem);
        margin: 0 0.25rem 0.25rem;
        object-fit: contain;
      }
      .name {
        display:block;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .delete {
        display:none;
      }
      &:hover .delete {
        display:unset;
        position:absolute;
        top:0.5rem;
        right:0.5rem;
        font-size:1.5rem;
        cursor:pointer;
        text-shadow: -1px -1px 8px #000, 1px -1px 8px #000, -1px 1px 8px #000, 1px 1px 8px #000;        
      }
    }
  }
}