@inherits LayoutComponentBase

<PageTitle>Fenrus</PageTitle>

<div class="body-inner">
    <div class="nav-menu">
        <MainMenu />
    </div>
    <div class="main-content">
        @Body
    </div>
</div>
