@namespace Fenrus.Components
@inherits EditorForm

<CascadingValue Value="this" IsFixed="true">
<div class="side-editor">
    <div class="header">
        <div class="title">@Title</div>
        <div class="buttons">
            @Buttons
        </div>
    </div>
    <div class="content">
        @Body
    </div>
</div>
</CascadingValue>