#fdrive-list.thumbnail {
  .check {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .file {
    height:240px;
    position:relative;
  }
  .size {
    display:none;
  }
  .file.no-img {
    .icon {
      background:#222;
    }
    .name {
      display: unset !important;
    }
  }
  .enter {
    display:none;
  }
  .file.folder {
    cursor:pointer;
    .enter {
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      font-size: 2rem;
      cursor:pointer;
    }
    .download {
      display:none !important;
    }
  }
  .name {
    position:absolute;
    display:none;
    bottom:0;
    left:0;
    right:0;
    line-height: 2rem;
    background: rgba(var(--base-rgb), 0.8);
    text-align: center;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon, img {
    width: 100%;
    height: 100%;
  }
  .icon i {
    font-size:10rem;
  }
  img {
    object-fit: cover;
  }
  position: relative;
  transition: opacity 0.25s ease-in-out;

  .controls {
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    font-size: 2rem;
    display: none;

    > i {
      cursor: pointer;
      position: absolute;
    }

    .delete {
      left: 0.85rem;
      top: 0.7rem;
      color: rgba(var(--color-rgb), 0.8);
    }

    .fa-circle {
      color: rgba(var(--accent-rgb), 0.3);
      font-size: 3.5rem;
    }

    &:hover {
      .delete {
        color: var(--color);
      }

      .fa-circle {
        color: rgba(var(--accent-rgb), 0.7);
      }
    }
  }

  .download {
    display:none;
  }
  &:hover {
    .controls {
      display: unset;
    }
  }

  .file:hover {
    opacity: 1;
    .name {
      display:unset;
    }
    .download {
      position: absolute;
      font-size: 1rem;
      cursor:pointer;
      right: .75rem;
      bottom: .25rem;
      display: unset;
    }
  }
}