$baseSize: 3.75rem;
$padding: 0.5rem;
$margin:0;

.separator {
    display: none;
}

.db-item {
    display: block;
    background:rgba(0,0,0,0.5);
    position: relative;
    text-decoration: none;
    color:rgba(255,255,255,0.8);
    margin:$margin;
    padding:$padding;
    transition: transform .2s;

    &:hover {
        background:rgba(var(--accent-rgb), 0.5);        
        z-index: 5;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        transform: scale(1.1);   
    }

    &.widget:not(.small):not(.medium) .icon
    {
        display:none;
    }

    .content {
        justify-content: center;
        display: flex;
        margin-left: 0.5rem;
        flex-direction: column;
        flex-grow: 1; 
        overflow: hidden;
        > .title {
            font-size:1.1rem;
            text-transform: uppercase;
        }
    }

    
    .livestats li .title.span {
        width:100% !important;                 
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }

    &.small {
        width:$baseSize - (2 * $padding);
        height:$baseSize - (2 * $padding);
        .content {
            display:none;
        }
        .icon {
            width:100%;
            height:100%;
            img {
                width:100%;
                height:100%;
            }
        }
    }

    &.medium {
        width:($baseSize * 2) - (2 * $padding);
        height:($baseSize * 2) - (2 * $padding);
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
    
    &.large {
       $width: 6;
       width:($baseSize * $width) + (($width - 2)* $margin) - (2 * $padding);
       height:($baseSize * 2) - (2 * $padding);   
        $width: 6;
        grid-column-end: span $width;
        grid-row-end: span 2;

        .inner {
            display:flex;
            flex-direction: row;
            height: 100%;
        }
        .icon {
            width:$baseSize * 1.735;
            min-width:$baseSize * 1.735;
            height:100%;
            margin:auto 1rem auto 0;
            img {
                width:100%;
                height:100%;
                object-fit: contain;
            }
        }

        &:hover 
        {
            background:rgba(0,0,0,0.7);
            &::before {
                content: '';
                z-index:3;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(var(--accent-rgb),.3);
            }
            .inner > * {
                z-index:4;
            }
        }
        
        .status {
            .livestats {
                margin: 0.5rem 0 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                font-size: 0.8rem;

                li {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    flex: auto;
                    color:rgba(var(--color-rgb), 0.7);

                    .title {
                        color: var(--accent);
                        padding-bottom: 0.1rem;
                        font-weight: bold;
                        width:7rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    a {
                        color:var(--color);
                    }
                }
            }
        }
    }

    &.larger {
        $width: 6;
        $height: 4;
        width:($baseSize * $width) + (($width - 2)* $margin) - (2 * $padding);
        height:($baseSize * 2) - (2 * $padding);
        grid-row-end: span $height;
        height:($baseSize * $height) + (($height - 2)* $margin) - (2 * $padding);      
        .icon 
        {
            width:100%;
            height:100%;
            > img 
            {            
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .inner {
            width:100%;
            height:100%;
            overflow: hidden;
        }
        .content > .title {
            display:none;
        }
    }

    &.x-large{
        $multiplier: 4;
        grid-column-end: span $multiplier;
        grid-row-end: span $multiplier;
        width:($baseSize * $multiplier) + (($multiplier - 2)* $margin) - (2 * $padding);
        height:($baseSize * $multiplier) + (($multiplier - 2)* $margin) - (2 * $padding);     

        @media screen and (max-width:600px) {
            $multiplier:6;
            grid-column-end: span $multiplier;
            grid-row-end: span $multiplier;
            width:($baseSize * $multiplier) + (($multiplier - 2)* $margin) - (2 * $padding);
        }   
        .icon > img 
        {            
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .content > .title {
            display:none;
        }
    }

    &.xx-large{
        $multiplier: 6;
        grid-column-end: span $multiplier;
        grid-row-end: span $multiplier;
        width:($baseSize * $multiplier) + (($multiplier - 2)* $margin) - (2 * $padding);
        height:($baseSize * $multiplier) + (($multiplier - 2)* $margin) - (2 * $padding);        
        .icon > img 
        {            
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .content > .title {
            display:none;
        }
    }
}


.db-item.db-basic
{
    cursor:pointer;
    &.medium, &.x-large, &.xx-large
    {
        &:not(.db-smart) .content {            
            display: flex !important;
            padding-top: 0.5rem;
            text-align: -webkit-center;            
        }

        .icon {
            width:100%;
            height:100%;
            img {
                width:100%;
                height:100%;
            }
        }

        
        .livestats {
            margin: 0.25rem 0 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;            

            li {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                flex: auto;
                color:var(--color);

                .title {
                    padding-bottom: 0.1rem;
                    font-weight: bold;
                    width:5rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                a {
                    color:var(--color);
                }
                + li {
                    margin-top:0.5rem;
                }
            }
        }
        /* This container is needed to position the front and back side */
        .inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.4s;
            transform-style: preserve-3d;
        }
        
        /* Position the front and back side */
        .icon, .content {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
                
        /* Style the back side */
        .content {
            transform: rotateY(180deg);
        }
    }
}
.dashboard, .side
{ 
    .db-item.db-basic 
    {
        &.medium, &.x-large, &.xx-large
        {
            &:hover {           
                .icon::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0,0,0,0.7);
                }
                .content {
                    display: unset;
                }
                .inner {
                    transform: rotateY(180deg);
                    top: -0.5rem;
                    right: -0.5rem;
                }
            }
        }
    }
}
@supports ( -moz-appearance:none )
{    
    .dashboard, .side
    { 
        .db-item.db-basic 
        {
            &.medium, &.x-large, &.xx-large
            {
                &:hover {         
                    .inner {
                        width: 106px;
                        left: -8px;
                        top: -7px;
                        height: 106px;
                    }
                    .icon img {
                        display:none;
                    }  
                    .title {
                        left: 14px;
                        position: relative;
                        top: 6px;
                    }
                    &:not(.live-stats) .title {
                        top:-7px;
                    }
                    .status {
                        position: relative;
                        top: 8px;
                        left: 14px;
                    }
                    .livestats {
                        position:relative;
                        left:-14px;
                        top:-4px;
                    }
                    .value {
                        position:relative;
                        left:14px;
                        top:4px;
                    }
                }
            }
            &.medium:hover .inner
            {
                width: 106px;
                height: 106px;
            }
            &.x-large:hover .inner
            {
                width: 212px;
                height: 212px;
            }
            &.xx-large:hover .inner
            {
                width: 316px;
                height: 316px;
            }
        }
    }
}
.db-item.medium {
    .inner, .icon {
        max-height:100%;
        max-width: 100%;
        overflow: hidden;
    }
    .content {
        display:none;
    }
    img {        
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
    }
}

.db-item.chart {
    .inner {
        display:flex;
        > .icon {
            display:none;
        }
        > .content {
            > .title {
                position:absolute;
                top:0;
                left:0;
                background:rgba(0,0,0,0.3);
                padding:0.5rem;
                text-transform: unset;
            }
            .status {
                flex-grow:1;
            }
        }
    }


}

.db-item.bar-info {
    &.large {
        .content > .title {
            display: none;
        }
        .bar-info:first-of-type {
            margin-top: 0 !important;
        }
    }
    
    &.xx-large, &.x-large, &.larger {
        .inner {
            display:flex;
            flex-direction: column;
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            overflow: hidden;
        }
        .icon {
            height:4rem;
            min-height:4rem;
            max-height:4rem;
            > img, i 
            {
                position: absolute;
                left:1rem;
                top:0.25rem;
                height: 3.5rem;
                width: 3.5rem;
            }
        }
        .content {
            flex-grow:1;
            overflow: hidden;
            padding:0 1rem 0 0.5rem;
            justify-content: unset;
            > .title {
                position:absolute;
                left: 6rem;
                top: 1.4rem;
                width: calc(100% - 7rem);
                display: unset;

            }
        }
        .bar-info
        {
            margin-bottom:1rem;                        
            font-weight: 600;
            font-size: 0.85rem; 
        }
    }
    &.medium 
    {
        .content > .title, .status {
            display:none;
        }
    }

    &.larger {
        .bar-info {
            margin:0.5rem 0 !important;            
        }
        .bar-info:nth-child(n + 5) {
            display: none;
        }
    }
    &.x-large {
        .bar-info {
            margin:0.5rem 0 !important;            
        }
        .bar-info:nth-child(n + 5) {
            display:none;
        }
    }
    &.large {
        .bar-info:nth-child(n + 3) {
            display:none;
        }
    }
}


.db-item 
{
    .status-indicator {
        position: absolute;
        top: 0;
        right: 0;
        height: 2rem;
        width: 2rem;
        background-size: cover;
    }
}