html {
    font-size: 14px;
    font-family:sans-serif;
    position: relative;
    min-height: 100%;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Regular.woff") format("woff");
}
body {
    /* variables */
    --color-rgb: 240,240,240;
    --color: rgb(var(--color-rgb));
    --color-darkest: rgb(160, 160, 160);
    --color-secondary-rgb: 170,170,170;
    --color-secondary: rgb(var(--color-secondary-rgb));
    --input-background-rgb: 49, 49, 49;
    --input-background: rgb(var(--input-background-rgb));
    --input-color: white;
    --error-rgb: 255,0,0;
    --error: rgb(var(--error-rgb));
    
    --base: rgb(17, 18, 20);
    --base-rgb: 7, 18, 20;
    --base-darker: rgb(6, 17, 19);
    --base-darker-rgb: 6, 17, 19;

    --border-color: rgba(var(--color-rgb), 0.3);
    --input-border: var(---border-color);
    --button-color:var(--color);
    --button-background:transparent;

    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;

    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

body {
    margin:0;
    padding:0;
    color:var(--color);
    display:flex;
    flex-direction: column;
    overflow:hidden;
    height:100vh;
    width:100vw;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
}

#components-reconnect-modal
{
    background: rgba(0,0,0,0.65) !important;
    color:var(--color) !important;
    > div {
        top: calc(50% - 50px) !important;
        position:absolute !important;
    }
}
a {
  color:var(--accent);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.main-content {
    flex-grow:1;
    justify-content: center;
    display: flex;
    max-height:100%;
    max-width:100%;
    height:100%;
    width:100%;
    position: relative;
}

.dashboard {
    position: absolute;    
    height:100%;
    overflow: auto;
}

.no-dashboard {
    text-transform: lowercase;
    padding:2rem;
    background:rgba(0,0,0,0.4);
    color:white;
    border:solid 1px rgba(255,255,255,0.3);
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:2rem;
    border-radius:2rem;
}

option {
    /* need so our styles dont make these impossible to read */
    color: white;
    background: #222;
}

.db-link {
    text-decoration: unset;
}

.db-item {
    .carousel {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    .fill {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }  
}
.db-item.db-dashboard {
    cursor:pointer;
}

.hide-group-titles .db-group > .title {
    display:none;
}

.search {    
    text-align: center;
    margin:1rem;
    z-index:2;
    .search-inner {
        border:solid 1px rgba(255,255,255,.15);
        height:3rem;
        display:flex;
        flex-direction: row;
        border-radius:0.5rem;
        overflow: hidden;
        width:min(90vw, 50rem);
        @media screen and (max-width:600px){
            width:100%;
        }
        margin:auto;
        > * {
            background:rgba(0,0,0,.8);
        }
        &:focus-within {
            opacity:1;
        }
        input {
            flex-grow:1;
            outline:none;
            border:none;
            font-size:1.5rem;
            border-left:solid 1px black;
            border-right:solid 1px black;
            padding:0 0.5rem;
            color:var(--color);
            max-width: calc(100% - 9.5rem);
        }
        button {
            border:none;
            border-left:solid 1px rgba(255,255,255,.15);
            font-size:1.3rem;
            text-transform: uppercase;
            padding:0 1rem;
            background:rgba(0,0,0,.8);
            color:var(--color);            
            flex-grow:1;
            max-width:9rem;
            &:hover {
                background:var(--accent);
                color:var(--color);
                cursor:pointer;
            }
            @media screen and (max-width:600px){
                font-size:0.8rem;
            }
        }
    }
}

.app-chart {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

#dashboard-name {
    position: fixed;
    top: 1rem;
    left: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    z-index:100;
}
#launching-app {
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.65);
    z-index: 1000000;
    .inner {
        background:rgba(0,0,0,0.5);
        padding: 3rem;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        display: flex;
        place-items: center;
        text-align: center;
        left: 50%;
    }
    img {
        height:5rem;
        margin-right:2rem;
    }
}

body.not-home {
    background:#181a1c;
}

.bar-info-label-value {
    display:flex;
    flex-direction: row;
    padding-left:2.7rem;
    font-size:0.8rem;
    .label {
        width:7rem;
        min-width: 7rem;
        color:var(--accent);
    }
    margin:1rem 0;
}


/* Dropdown Button */
.dashboard-dropdown {
    position: relative;
    display: inline-block;
    > button 
    {
        border: none;      
        background: transparent;
        color: var(--color);
        text-transform: uppercase;  
        font-size:1.5rem;
    }
    > div 
    {
        display: none;
        position: absolute;
        background-color: var(--base);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-size:1rem;
    }
    a
    {
        color:var(--color);
        padding: 0.5rem;
        text-decoration: none;
        display: block;
        &:hover { 
            background-color: var(--accent); 
        }
    }
    &:hover 
    {
        > div  {display: block;}
    }
}

.iframe-content, #terminal {
    position:fixed;
    top:4rem;
    left:1rem;
    bottom:1rem;
    right:1rem;
	animation: iframe-animate .3s linear;
    z-index:10;
    &.closing {
        animation: iframe-animate-close .6s linear;
    }
}

.iframe-content {
    display:flex;
    flex-direction: row-reverse;
    .side {
        width:5rem;
        background:rgba(0,0,0,.5);
        margin-left: 0.75rem;
        .db-item {
            width:4rem !important;
            height:4rem !important;
            img {
                width:100%;
                height:100%;
            }
            i 
            {                
                font-size: 4rem;
                text-align: center;
                color:var(--error);                
                width: 100%;
            }
            .title {
                font-size:0.9rem;
            }
        }
    }
    iframe {
        background:rgba(0,0,0,.5);
        flex-grow:1;
    }
}
@keyframes iframe-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}
@keyframes iframe-animate-close {
	0%{
		transform: scale(1);
		opacity: 1;
	}
    50% {
		transform: scale(0);
        opacity: 0;
        display:none;
	}
    100% {
		transform: scale(0);
        opacity: 0;
        display:none;
	}
}

.side-editor-background {
    position:fixed;
    z-index:4;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:rgba(var(--base-rgb), 0.8);
}

.side-editor {
    position:fixed !important;
    display: flex;
    flex-direction: column;
    top:0;
    bottom:0;
    right:0;
    width:min(700px, 70vw);
    background: var(--base-darker);
    z-index:5;
    padding:2px 0.5rem;
    .content {
        overflow:auto;
        flex-grow:1;
    }
    
    h2 {
        margin: 0;
    }

    .header {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;

        + * {
            border-top: solid 1px var(--border-color);
        }

        .title {
            font-size: 1.5rem;
            flex-grow: 1;
            margin: auto;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            text-align: right;

            * + * {
                margin-left: 0.25rem;
            }

            .keep-open {
                display:inline-block;
                margin-right:1rem;
                place-self: center;
            }
        }
    }
}


#up-time-wrapper {
    display:none;
    z-index:100;
    .no-data {
        padding:1rem;
    }
}

#terminal {
    background:rgba(0,0,0,0.8);
    .xterm {
        width:100%;
        height:100%;
    }
}

.db-group > .title {
    .group-controls{
        display:none;
        span {
            cursor:pointer;
            color:rgba(var(--color-rgb), 0.5);
            &:hover {
                color:var(--color);
            }
        }
    }
    &:hover {
        .group-controls{
            display:unset;
        }
    }
}
.db-group:first-of-type .group-controls .move-up {
    display: none;
}
.db-group:last-of-type .group-controls .move-down {
    display: none;
}

body.terminal .main-content {
    display:none;
}

.terminal {
    .terminal-btn  {
        width: 4rem;
        height: 2rem;
        position: fixed;
        z-index: 10;
        top: 4rem;
        opacity:0.3;
        &:hover {
            opacity:1;
            cursor:pointer;
        }
        &::after {            
            display: inline-block;       
            font-size: 1.5rem;
            position: relative;
            left: 0;
            right: 0;
            text-align: center;
            width: 4rem;
            top: 4px;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
        }
    }
    .close
    {        
        background: red;
        right: 3rem;
        &::after {
            content: "\f00d";      
        }
    }
    
    .pause{
        right: calc(7rem + 3px);
        &:not(.paused)
        {        
            background: blue;
            &::after {
                content: "\f04c";      
            }
        }
        &.paused
        {        
            background: green;
            &::after {
                content: "\f04b";      
            }
        }
    }
}


table {
    border: none;
    padding:0;
    margin:0;
    width:100%;
    border-collapse: collapse;
    thead th {            
        font-weight: 600;
        background: rgba(var(--input-background-rgb), 0.3);
        border:none;
        border-bottom: solid 1px var(--input-background);
        text-align: left;
        height: 2.2rem;
        line-height: 2.2rem;
    }
    tr > :first-child {
        padding-left:1rem;
    }
    td {
        height: 3rem;
        line-height: 3rem;
    }
    .name {
        a {
            color:var(--color);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .switch {
        width:8rem;
        text-align: center;
        label {            
            position: relative;
            top: -2px;
        }
    }
    .controls {
        width:10rem;
        text-align: right;
        [class^="icon-"] {
            color:var(--color);
            text-decoration: none;
            padding-top:3px;
            font-size:1.5rem;
            margin-right:0.5rem;
            cursor:pointer;
            position: relative;
            top:0.35rem;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }       
    }    
}

#up-time-chart-container {
    flex-grow:1;
    display:flex;
    flex-direction: column;
    max-height: calc(100% - 4rem);
}
.up-time-table-wrapper {
    flex-grow:1;
    overflow: auto;
    padding:1rem;
    position:relative;
    max-height:100%;
}
.up-time-table {
    width:unset;
    height:unset;
    td {
        line-height: unset !important;        
        white-space: pre-line;
    }
    .date {
        width:4.5rem;
    }
    th {
        background:#131B1C;
    }
    thead, tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
    tbody {
        display: block;
        overflow-y: auto;
        table-layout: fixed;
        position: absolute;
        top: calc(3rem + 8px);
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        border: solid 1px var(--border-color);
        border-top: none;
    }
    td.up, th.up  {
        width: 4rem;
        text-align: center;
        span.up {
            color:var(--success);
        }
        span.down {
            color:Var(--error);
        }
    }
    tbody {
        tr + tr {
            border-top:solid 1px var(--border-color);
        }
    }
}


.blocker {
    background:rgba(var(--base-rgb),0.9);
    z-index:1000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    &.visible {
        display:flex;
    }

    .blocker-indicator {
        margin:auto;
    }
    .blocker-spinner {
        margin:auto;
        --border-width: 16px;
  
        height: 100px;
        width: 100px;
        border-radius: 50%;
        
        /* 0.5px's are needed to avoid hard-stopping */
        --mask: radial-gradient(
          farthest-side, 
          transparent calc(100% - var(--border-width) - 0.5px), 
          #000 calc(100% - var(--border-width) + 0.5px)
        );
        -webkit-mask: var(--mask);
                mask: var(--mask);
                
        /* we're using two half linear-gradient which is masked by the radial-gradient */
        background: linear-gradient(to top, rgba(var(--accent-rgb), 1), rgba(var(--accent-rgb), 0.5)) 100% 0/50% 100% no-repeat,
                    linear-gradient(rgba(var(--accent-rgb), 0.5) 50%, transparent 95%) 0 0/50% 100% no-repeat;
        animation: blocker-spin 1s linear infinite;

    }
    .blocker-message {
        color:var(--accent);
        border:solid 1px var(--accent);
        margin-top:2rem;
        padding:0.5rem 2rem;
        font-size:0.9rem;
        text-align: center;
        &.hidden {
            display:none;
        }
    }
}

@keyframes blocker-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a[class*="fa-"] {
    color:var(--color);
    text-decoration: none !important;
}

.blazored-toast-header h5 {
    margin:0;
}