.fenrus-page-body,
.side-editor,
body.initial-config-page
{
    .main-content{
        display: flex;
        overflow: auto;
        > div {    
            margin:auto;
        }
    }


    input[type=text], input[type=password], input[type=number], select {
        width: calc(100% - 1rem);
        padding: 0.5rem;
        background: var(--input-background);
        border: solid 1px var(--input-border);
        color: var(--input-color);

        &:focus {
            outline: solid 1px var(--accent);
        }
        &:disabled {
            opacity: 0.5;
        }
    }

    select {
        width: 100%;
    }

    .settings-box {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;

        form {
            width: 100%;
        }

        .items-header {
            margin-top: 3rem;
        }

        .group-list {
            border-top: solid 1px var(--border-color);
        }

        .setting {
            display: flex;
            flex-direction: row;
            padding: 1rem;

            .label {
                width: 16rem;
                min-width: 16rem;
                margin: 0.5rem 0 0;
            }

            .value {
                flex-grow: 1;
                &.padtop {
                    margin:0.5rem 0 0;
                }
                a {
                    color:var(--color);
                }            
                ul:not(.livestats) {
                    margin:0;
                    padding:0;
                    list-style: none;
                    li + li {
                        margin-top:0.75rem;
                    }
                }
            }
        }


        td {
            padding: 0.5rem;
        }

        tbody td {
            border-bottom: solid 1px var(---border-color);
        }

        table {
            width: 100%;

            tr > td {
                width: min(30%, 10rem);
            }
        }

        .color-picker input {
            width:calc(100% - 1rem - 40px) !important;
        }

        ul:not(.value-list):not(.livestats) {
            margin: 0;
            padding: 0;

            > li {
                list-style: none;
                padding: 1rem;
                border-bottom: 1px solid var(--border-color);
                display: flex;
                flex-direction: row;

                .name {
                    flex-grow: 1;
                    white-space: nowrap;
                }
                .icon-sort + .name {
                    margin-left:1rem;
                }

                .url {
                    width: min(21rem, 40vw);
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .enabled {
                    width:6rem;
                    min-width: 6rem;
                    max-width: 6rem;
                }

                .items {
                    width: 14rem;
                    text-align: center;
                }

                &.over {
                    border: 3px dotted #666;
                }
            }

            .mover {
                cursor: move;
                margin-right: 0.5rem;
            }
        }

        button.invalid {
            background: var(--error);
            color: var(--color);
        }

        .invalid {
            border: solid 1px var(--error) !important;

            &:after {
                content: url(' ');
                display: block;
                float: left;
                margin-right: 5px;
                position: relative;
                bottom: 2px;
            }
        }

        .item-icon-picker {
            .db-item {
                margin-bottom:1rem;
            }
        }
        p {
            margin:1rem;
            white-space: pre-line;
        }
    }

    td.controls {        
        padding-right: 1rem;
    }


    .controls {
        text-align: right;
        white-space: nowrap;

        a, span {
            margin-left: 0.5rem;
            cursor: pointer;
            color: white;
            opacity: 0.7;
            text-decoration:none !important;

            &:hover {
                opacity: 1;
            }
        }
    }

    #file-chooser-btn {
        display: block;
    }


    .modal-background{
        background:rgba(0,0,0,.6);
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:100;
    }
    .modal {
        z-index:101;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal, .modal-box {
        display: flex;
        flex-direction: column;
        width:min(70vw, 36rem);
        background: rgba(0,0,0,0.7);
        border: solid 1px var(--border-color);
    }

    .modal-title {
        font-size:1.5rem;
        border-bottom:solid 1px var(--border-color);
        padding:1rem 2rem;
    }
    .modal-body {
        padding:1rem 2rem;
        margin:2rem 0;
    }
    .modal-buttons {
        padding:1rem 2rem;
        display:flex;
        flex-direction: row;
        justify-content: end;
        button {
            + button {
                margin-left:1rem;
            }
        }
    }

    .background-picker 
    {
        .image-preview {
            width:auto;
            height:150px;
            margin-bottom:1rem;
        }
        .buttons {
            display:flex;
            flex-direction: row;
            .btn + .btn {
                margin-left:1rem !important;
            }
        }
    }

    .user-list {
        .list-header {
            font-weight: bold;
        }
        .controls {
            width:10rem;
            position: unset !important;
        }
        .is-admin {
            width:8rem;
            text-align: center;
        }
    }
    .contains-toggle li {
        span {
            margin:auto;
        }
        .controls {
            position: relative;
            top:0.15rem;
        }
    }

    .group-list {
        .no-items {
            width:8rem;
        }
        .enabled {
            width:6rem;
            text-align: center;        
        }
        .controls {
            width:4rem;
        }
    }

    .search-engine-list
    {
        .enabled, .default {
            width:8rem;
            text-align: center;
        }
        .controls {
            width:4rem;
        }
    }

    a.subpage{
        text-decoration: none;    
        height: 1.75rem;
        width: 1.75rem;
        display: flex;
        place-items: center;
        
        border: solid 2px white;
        border-radius: 1rem;
        float:right;
        cursor:pointer;
        span {
            margin:auto;
            position: relative;
            top:1px;
            left:1px;
        }
    }
    .help-text 
    {
        display: block;
        font-style: italic;
        color: var(--color-darkest);
        font-size:0.9rem;
        white-space: pre-wrap;
    }


    .settings-outer {
        display:flex;
        flex-direction: row;
        width:100%;
        background:var(--base);
    }

    .settings-menu {
        width:250px;    
        min-width: 250px;
        background-color: rgba(var(--base-rgb), 0.15);
        border-right: 1px solid rgba(255,255,255,.05);
        display: flex;
        flex-direction: column;
        .logo {
            margin:1.5rem 1rem 1rem 2rem;
            display: flex;
            place-items: center;
            img {
                width:2.5rem;
                margin-right:0.5rem;
            }
            .title {            
                font-size: 1.75rem;
                font-weight: 600;
                color: #ff0090;
                font-style: italic;
            }
        }
        .group {
            margin-top:2rem;
            text-transform: uppercase;        
            padding-left:0.75rem;
            margin-bottom:0.5rem;
        }
        ul {
            list-style: none;
            margin:0;
            padding:0;
            flex-grow:1;
        }
        li {
            border-left: solid 0.5rem transparent;        
            &:not(.group):hover {
                background:rgba(var(--accent-rgb), 0.2);
            }
            &.active {
                background-color: rgba(var(--accent-rgb), 0.3);
                border-color: var(--accent);      
            }
        }
        a {
            color:var(--color);
            text-decoration: none;
            padding:1rem;
            display: block;
            height: 1.25rem;
            display: flex;
            place-items: center;
            padding-left: 2rem;
        }
        span[class^="fa-"], 
        span[class^="icon-"] {
            font-size:1.5rem;
            width:2rem;
            text-align: center;
            display: block;
            margin-right:0.5rem;
        }
    }

    .settings-content {
        display: flex;
        flex-direction: column;
        flex-grow:1;
        min-height:100vh;
        > div {
            display:flex;
            flex-direction: column;
        }
        .page-description {
            height:unset;
            margin:1rem 3rem;
            white-space: pre-wrap;
        }
        .top-row {        
            height: 3.5rem;
            min-height: 3.5rem;
            display: flex !important;
            flex-direction: row;
            padding: 0 1.5rem;
            align-items: center;    
            input[type=text] {
                width: calc(100% - 1rem);
                padding: 7px 0 3px;
                margin-left:0.5rem;
                background: transparent;
                border:none;
                font-size:1em;
                border-bottom: solid 1px var(--accent);
                
                color: var(--input-color);

                &:focus {
                    outline: none;
                }
            }
            .title 
            {   
                span[class^="icon-"] {   
                    color: var(--accent);
                    font-size:1.5rem;
                    margin-right:0.5rem;
                }    
                align-items: center;
                font-size: 1.15rem;
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                width:100%;
            }
            .buttons {            
                white-space: nowrap;
                margin-left: 1rem;
                margin-right: -0.5rem;
            }
            .allow-register-label {
                white-space: nowrap;
                padding-right:1rem;
            }
        }

        .list {
            margin:2rem;
        }
    }

    .list-toolbar {
        display: flex;
        flex-direction: row;
        margin:0.5rem;
        > span, a {
            text-decoration: none;
            cursor: pointer;
            color:rgba(var(--color-rgb), 0.8);
            text-transform: uppercase;
            span[class^="icon-"]
            {
                margin-right:0.25rem;
            }        
            &:hover {
                color:var(--color);
            }
        }
    }

    .modal-wrapper {
        display:none;
        &.visible {
            display: flex;
            justify-content: center;
            align-items: center;
            position:fixed;
            z-index:100;
            top:0;
            left:0;
            bottom:0;
            right:0;
            background: rgba(0,0,0,0.4);
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            > * + * {
                margin-top:0.5rem;
            }
        }
    }

    #add-group-item{
        margin-right: 1rem;
        position: absolute;
        bottom: 2rem;
        right: 3rem;
        transform: scale(1.5);
        z-index:3;
    }

    .preview-dashboard {
        overflow: auto;
        .db-item {
            .actions {            
                display:none;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                align-items: center;
                justify-content: center;
                background: rgba(0,0,0,0.7);
                span {
                    font-size:1.4rem;
                    cursor:pointer;
                    padding:3px;
                }
            }
            &:hover {
                .actions {
                    display: flex;
                    flex-flow: wrap;
                }
            }
        }
    }

    .app-info-item {
        display:flex;
        flex-direction: row;
        margin-bottom: 1rem;
        .label {
            width:10rem;
            min-width: 10rem;
        }
        .value {

        }
        a{
            color:var(--accent);
        }    
    }
    .content > .tabs {
        margin-top:1rem;
    }

    .tabs {
        display:flex;
        flex-direction: column;
        .tab-buttons {
            display:flex;
            flex-direction: row;
            border-bottom:solid 1px var(--accent,#ff0090);
            padding-left:1rem;
            button 
            {
                border: 1px solid var(--border-color);
                position: relative;
                bottom:-2px;
                &.active {
                    border-color:var(--accent,#ff0090);
                    border-bottom: 2px solid var(--base);
                }   
            }
        }
        .tabpage {
            margin-top:1rem;
            display:none;
            flex-grow: 1;
            &.active {
                display:unset;
            }
        }
    }
}