<template x-if="EditorOpen == false && MoverOpen == false">
    <div class="group settings-box"> 
        <div class="header">
            <span class="title">Edit Group</span>
            <div class="buttons">
                <button :disabled="isDisabled()" class="btn" @click="save" x-text="Saving ? 'Saving' : 'Save'"></button>
                <button :disabled="isDisabled()" class="btn" @click="cancel">Cancel</button>
            </div>
        </div>
        <div class="content">
            <div class="setting">
                <span class="label">Name</span>
                <span class="value">
                    <input :disabled="isDisabled()" type="text" x-model="Group.Name" data-rules='["required"]' @blur="blur" @input="input" @keydown.enter="save">
                </span>
            </div>
            <div class="setting">
                <span class="label">Hide Title</span>
                <span class="value">
                    <label for="HideGroupTitle" class="toggle-switchy">
                        <input type="checkbox" id="HideGroupTitle" x-model="Group.HideGroupTitle" />
                        <span class="toggle">
                            <span class="switch"></span>
                        </span>
                    </label>
                </span>
            </div>
            <div class="setting">
                <span class="label">Hide Labels</span>
                <span class="value">
                    <label for="HideLabels" class="toggle-switchy">
                        <input type="checkbox" id="HideLabels" x-model="Group.HideLabels" />
                        <span class="toggle">
                            <span class="switch"></span>
                        </span>
                    </label>
                </span>
            </div>
            <div class="header items-header">
                <span class="title">Items</span>
                <div class="buttons">
                    <button :disabled="isDisabled()" class="btn add" @click="addItem">Add Item</button>
                    <button :disabled="isDisabled()" class="btn" @click="addSeparator">Separator</button>
                </div>
            </div>
            <ul class="group-item-list contains-toggle">
                <template x-for="item in Group.Items">
                    <li x-bind:id="item.Uid" draggable="true" @dragstart="dragStart" @dragenter="dragEnter" @dragover.prevent="dragOver" @dragleave="dragLeave" @drop.prevent="dragDrop" @dragend="dragEnd">
                        <span class="mover icon-sort"></span>

                        <span class="name" x-text="item.Name"></span>
                        <span class="url" x-text="item.Url"></span>

                        <span class="enabled">                            
                            <label :for="item.Uid + '-enabled'" class="toggle-switchy">
                                <input type="checkbox" :id="item.Uid + '-enabled'" x-model="item.Enabled" />
                                <span class="toggle">
                                    <span class="switch"></span>
                                </span>
                            </label>
                        </span>

                        <template x-if="item._Type !== 'DashboardSeparator'">
                            <span class="controls">
                                <span title="Move" class="icon-share-square-o" @click="moveItem(item.Uid)"></span>
                                <span title="Edit" class="icon-edit" @click="editItem(item.Uid)"></span>
                                <span title="Delete" class="icon-trash" @click="removeItem(item.Uid)"></span>
                            </span>
                        </template>                        
                        <template x-if="item._Type === 'DashboardSeparator'">
                            <span class="controls">
                                <span title="Delete" class="icon-trash" @click="removeItem(item.Uid, true)"></span>
                            </span>
                        </template>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</template>