<template x-if="MoverOpen">
    <div class="settings-box group-item-mover-editor">
        <div class="header">
            <span class="title" x-text="MoverTitle"></span>
            <div class="buttons">
                <button class="btn" @click="moverSave">Save</button>
                <button class="btn" @click="moverCancel">Cancel</button>
            </div>
        </div>
        <div class="setting">
            <span class="label">Destination</span>
            <span class="value">
                <select x-model="MoverDestination" data-rules='["required"]' @blur="blur" @input="input">
                    <option value="" disabled>Select A Group</option>
                    <% for(let group of settings.Groups) { %>
                        <option value="<%= group.Uid %>"><%= group.Name %></option>
                    <% } %>
                </select>
            </span>
        </div> 
    </div>
</template>